.stat-spinner {
  .css-spinner {
    margin: 20px auto;

    img {
      width: 32px;
      height: 32px;
    }
  }

  .spinner {
    left: 0;
    margin: 5% 0 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;

    #loading-message {
      margin-top: 10px;
      text-align: center;
    }
  }
}
