#statistics-menu-accordion .nav-list,
#statistics-about-menu-accordion .nav-list {
  padding-left: 0;
  padding-right: 0;
}

#statistics-menu-accordion li a,
#statistics-about-menu-accordion li a {
  border-bottom: 1px solid #BABABA;
  color: #0b0b0b;
  margin: 0;
  padding: 10px 11px;
}

#statistics-menu-accordion li a:hover,
#statistics-about-menu-accordion li a:hover {
  background: #e8e8e8;
}

#statistics-menu-accordion .last-item-in-menu,
#statistics-about-menu-accordion .last-item-in-menu {
  border-bottom: 1px solid transparent;
}

#statistics-menu-accordion {
  #national-statistic-menu-content li.active a,
  #business-statistic-menu-content li.active a,
  #landsting-statistic-menu-content li.active a,
  #about-statistic-menu-content li.active a {
    background: #ccc !important;
    color: #0b0b0b !important;
  }
}

#national-statistic-menu-content .sub-nav-list li a,
#business-statistic-menu-content .sub-nav-list li a {
  font-size: 0.9em;
  padding-left: 20px;
}

.accordion-toggle.active i.statistict-left-menu-expand-icon,
i.statistict-left-menu-expand-icon {
  @extend .glyphicon-minus-sign;

  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 12px;
  margin-top: 3px;
  margin-right: 0;
}

#national-statistic-menu-content i.statistict-left-menu-expand-icon,
#business-statistic-menu-content i.statistict-left-menu-expand-icon {
  @extend .glyphicon-minus-sign;

  color: #000;
}

.accordion-toggle i.statistict-left-menu-expand-icon,
#national-statistic-menu-content i.statistict-left-menu-expand-icon.collapsed,
#business-statistic-menu-content i.statistict-left-menu-expand-icon.collapsed {
  @extend .glyphicon-plus-sign;
}

.accordion-toggle.disabled i.statistict-left-menu-expand-icon{
  color: #ccc;
  cursor: default;
  opacity: .8;
}

.mobile-menu-caret {
  margin-top: 3px;
}

.mobile-menu-header-item {
  font-weight: 700;
}

.subMenuItem, .subMenuItem a {
  color: #777;
  display: block;
  max-width: 100% !important;
  padding-bottom: 5px;
  padding-top: 5px;
}

li.subMenuItem.active a {
  font-weight: 700;
}

.active-menu-item {
  display: none;
}

li.subMenuItem.active .active-menu-item {
  display: block;
}

#business-login-btn {
  margin-top: 7px;
}
