<div class="statistics-menu" id="statistics-menu-accordion"  uib-dropdown auto-close="outsideClick" is-open="isMenuOpen">
  <div class="visible-xs dropdown-toggle" uib-dropdown-toggle>
    Meny
    <button type="button" class="btn pull-right" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-bars"></i>
    </button>
  </div>

  <ul class="statistics-menu-list" uib-dropdown-menu >
    <li data-ng-repeat="menu in menus">
      <a data-ng-click="toggleMenu(menu, $event)">
        <span class="statistics-menu-heading" message key="{{::menu.name}}" disable-highlight-words="true"></span>
        <i class="fa statistict-left-menu-expand-icon" data-ng-class="{collapsed: !menu.show}"></i>
      </a>

      <ul uib-collapse="!menu.show" class="navigation-group" id="{{::menu.navigationId}}">
        <li data-ng-repeat="submenu in menu.subMenu | filter: showMenu">
          <a
              id="{{::submenu.id}}"
              data-ng-href="{{::submenu.link}}{{queryString}}"
              ctrlname="{{::submenu.ctrl}}"
              navigationaware>
            <span message key="{{::submenu.name}}" disable-highlight-words="true"></span>

            <i data-ng-if="submenu.subMenu"
               class="fa statistict-left-menu-expand-icon"
               data-ng-class="{collapsed: !submenu.show}"
               data-ng-click="toggleMenu(submenu, $event)"></i>
          </a>

          <ul
              uib-collapse="!submenu.show"
              data-ng-if="submenu.subMenu"
              id="{{::submenu.subMenuId}}">
            <li data-ng-repeat="subsubmenu in submenu.subMenu">
              <a
                  data-ng-href="{{::subsubmenu.link}}{{queryString}}"
                  id="{{::subsubmenu.id}}"
                  ctrlname="{{::subsubmenu.ctrl}}"
                  navigationaware>
                - <span message key="{{::subsubmenu.name}}" disable-highlight-words="true"></span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
