business-filter, landsting-filter {
  border-bottom: 1px solid $st-color-23;
  padding: 0 10px 10px;
  display: block;
}

.business-filter {
  button {
    margin-top: 10px;
  }

  .filter-active-btn.btn-default,
  .filter-active .btn-default {
      &,
      &:focus {
        background: $st-color-29;
        color: $st-color-17;
        text-shadow: none;
        box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.24)
      }

      &.disabled,
      &:disabled {
        background-color: $st-color-21;
        color: $st-color-24;
        border-color: $st-color-23;
        box-shadow: none;
      }
  }

  .alert {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .dateintervall-dropdown {
    min-width: 470px;
    padding: 10px;

    button {
      margin-top: 0;
    }

    .input-wrapper div {
      display: inline-block;
    }
  }

  .bottom-buttons {
    padding-top: 0;
  }

  .margin-right {
    display: inline-block;
    margin-right: 5px;
  }

  .input-wrapper {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 135px;

    input {
      padding-left: 15px;
    }
  }

  .has-error {
    input {
      border-width: 2px;
    }
  }

  .filter-level {
    padding: 0 10px;
    width: 100%;

    .title {
      display: inline-block;
      margin-right: 20px;
    }

    label {
      font-size: 12px;
      font-weight: normal;
    }

    input[type='checkbox'] {
      position: relative;
      vertical-align: middle;
      margin-bottom: 4px;
    }
  }

  .toggle-sidebar-link {
    padding: 0;

    @media (max-width: 992px) {
      span.ellipsis-text span {
        cursor: pointer;
        display: inline-block;
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
      }
    }
  }

  show-message .alert {
    margin-top: 0 !important;
  }
}
