<div class="row-fluid">
	<div id="about-content">
		<section id="about">
			<H1>Allmänt om tjänsten - Texter nedan under uppbyggnad</H1>
			<p>
				Den Nationella statistiktjänsten för sjukskrivning är en webbtjänst som gör det möjligt att följa upp och se samlad statistik för ordinerad sjukskrivning. 
				Tjänsten består av två delar, statistik som är tillgänglig för alla och statistik som kräver särskild behörighet. Statistiken är baserad på de läkarintyg (FK 7263) som skickas elektroniskt från journalsystem. 
			</p>
			
			<h2>Så här använder du den Nationella statistiktjänsten</h2>
			<p>
				I den Nationella statistiktjänsten finns ett antal fasta rapporter som du kan skriva ut, spara eller exportera till Excel.
			</p>
			
			<h2>Ny användare</h2>
			<p>
				Den publika delen av Nationella statistiktjänsten kräver ingen registrering eller särskilt konto. 
				Om du arbetar inom hälso- och sjukvården med uppföljning av sjukskrivning eller som exempelvis verksamhetschef kan du ta del av statistik särskilt riktad till din vårdenhet/dina vårdenheter. För att göra detta krävs att du har ett medarbetaruppdrag för statistik, detta uppdrag sätts av din HSA-administratör. Mer information om medarbetaruppdraget som krävs finns HÄR.
			</p>
			
			<h2>Ansvarig för tjänsten</h2>
			<p>
				<a href="http://www.inera.se">Inera AB</a>
				Postadress: Box 17703, 118 93 Stockholm 
				Organisationsnummer: 556559-4230
				E-post: <a href="mailto:info@inera.se">info@inera.se</a>
			</p>
			<h2>Juridik</h2>
			<p>
				Personuppgifterna inom hälso- och sjukvården lyder under sekretess. För att förhindra att information kan knytas till en viss person visas inte uppgifter där urvalet är för begränsat på den nationella/publika nivån. Informationen i Nationella statistiktjänsten samkörs dessutom inte, varje vårdgivares information behandlas separat och läggs ihop utan att personuppgifter följer med innan det publiceras i den nationella statistiken. 
				För den statistik som går att nå via inloggning ska verksamhetschefen säkerställa att endast den som har rätt till statistik får ta del av den. Utdelning av medarbetaruppdraget för statistik ska göras med eftertanke.
				Personuppgiftslagen (PUL) och Patientdatalagen (PDL) är lagar som reglerar behandling av personuppgifter.  
			</p>
	
		</section>
	</div>
</div>