<div class="row-fluid">
	<div id="about-content">
		<section id="about">
			<H1 style="margin-bottom: 0px;">Allmänt om tjänsten</H1>
			Nationella statistiktjänsten för sjukskrivning är en webbtjänst som gör det möjligt att följa upp och se samlad statistik för den i läkarintygen ordinerade sjukskrivningen. Tjänsten består av två delar:
			 <ul>
			 	<li>statistik som är tillgänglig för alla</li>
			 	<li>statistik som kräver särskild behörighet</li>
			 </ul>  
			 Statistiken är baserad på de läkarintyg (FK 7263) som skickas elektroniskt från hälso- och sjukvårdens journalsystem.  
			
			<h2 style="margin-bottom: 0px;">Så här använder du den Nationella statistiktjänsten</h2>
			<p>I Nationella statistiktjänsten finns ett antal fasta rapporter som du kan skriva ut, spara eller exportera till Excel.</p>
			<p>Den allmänna statistikdelen kräver inte någon registrering eller något särskilt konto. </p>
			<p>Om du har ansvar för verksamhetsuppföljning inom hälso- och sjukvården kan du ta del av statistik som är särskilt riktad till din vårdenhet. Det krävs då att du har ett medarbetaruppdrag för statistik som delas ut av din verksamhetschef och sätts av din HSA-administratör. Mer information om det finns HÄR.</p>
			
			<h2 style="margin-bottom: 0px;">Ansvarig för tjänsten</h2>
			<a href="http://www.inera.se">Inera AB</a><br>
			Postadress: Box 17703<br>
			118 93 Stockholm<br>
			Organisationsnummer: 556559-4230

			<h2 style="margin-bottom: 0px;">Juridik</h2>
			<p>Personuppgifter inom hälso- och sjukvården omfattas av sekretess. De får inte användas för statistiska ändamål förutom i viss mån för vårdgivarens egen verksamhetsuppföljning. </p>
			<p>Alla uppgifter som finns i allmänna statistiska rapporter måste vara helt avidentifierade för att få visas. Informationen i Nationella statistiktjänsten behandlas separat för varje vårdgivare. Uppgifterna avidentifieras och slås samman innan de publiceras. För att förhindra att informationen ska kunna kopplas till enskilda personer visas inte uppgifter där urvalet är för begränsat. </p>
			<p>När det gäller den vårdenhetsspecifika statistik som går att nå via inloggning ska verksamhetschefen säkerställa att endast behöriga personer får ta del av den. Medarbetaruppdraget för statistik ska delas ut med eftertanke.</p>
			<p><a href="http://www.riksdagen.se/sv/Dokument-Lagar/Lagar/Svenskforfattningssamling/Personuppgiftslag-1998204_sfs-1998-204/?bet=1998:204" target="_blank">Personuppgiftslagen</a> (PUL) och <a href="http://www.riksdagen.se/sv/Dokument-Lagar/Lagar/Svenskforfattningssamling/Patientdatalag-2008355_sfs-2008-355/?bet=2008:355" target="_blank">Patientdatalagen</a> (PDL) är lagar som reglerar behandling av personuppgifter. </p> 

			
			<h2 style="margin-bottom: 0px;">Programvaror som används i tjänsten</h2>
 			<p>För att framställa grafer och diagram i Nationella Statistiktjänsten använder Inera AB Highcharts 3.0 som tillhandahålls av Highsoft AS, <a href="http://www.highcharts.com/" target="_blank">http://www.highcharts.com/</a>. Inera AB använder Highsofts mjukvaror under en fri licens för icke-kommersiella utövare <a href="http://creativecommons.org/licenses/by-nc/3.0/legalcode" target="_blank">http://creativecommons.org/licenses/by-nc/3.0/legalcode</a>.</p>
		</section>
	</div>
</div>