<div class="row-fluid">
	<div id="about-content">
		<section id="faq">
			<H1>Vanliga frågor och svar - Texter nedan under uppbyggnad</H1>
			<p>Nedan finner du vanliga frågor och svar för statistiktjänsten. Du får nedan frågorna presenterade och genom att klicka på frågan får du svaret.</p>
			
			<div class="accordion" id="faq-accordion">
				<div class="accordion-group faq-accordion-group">
					<div class="accordion-heading faq-accordion-heading">
						<a class="accordion-toggle faq-accordion-toggle" data-toggle="collapse" href="#a1"><h2>1. Vad innebär den Nationella statistiktjänsten?</h2></a>
					</div>
					<div id="a1" class="accordion-body collapse faq-accordion-body">
						<div class="accordion-inner faq-accordion-inner">
							<p>
								Den Nationella statistiktjänsten för ordinerad sjukskrivning är en webbtjänst som gör det möjligt att följa upp och se samlad statistik för ordinerad sjukskrivning från hela landet. 
								Statistiken är baserad på de läkarintyg (FK 7263) som skickas elektroniskt från journalsystem. Tjänsten består av två delar, statistik som är tillgänglig för alla och statistik som kräver särskild behörighet.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group faq-accordion-group">
					<div class="accordion-heading faq-accordion-heading">
						<a class="accordion-toggle faq-accordion-toggle" data-toggle="collapse" href="#a2"><h2>2. Vem står bakom den Nationella statistiktjänsten?</h2></a>
					</div>
					<div id="a2" class="accordion-body collapse faq-accordion-body">
						<div class="accordion-inner faq-accordion-inner">
							<p>
								Det landstingsägda bolaget Inera AB har tagit fram tjänsten och förvaltar den på uppdrag av alla Sveriges landsting och regioner. 
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group faq-accordion-group">
					<div class="accordion-heading faq-accordion-heading">
						<a class="accordion-toggle faq-accordion-toggle" data-toggle="collapse" href="#a3"><h2>3. Vad innehåller den Nationella statistiktjänsten?</h2></a>
					</div>
					<div id="a3" class="accordion-body collapse faq-accordion-body">
						<div class="accordion-inner faq-accordion-inner">
							<p>
								Innehållet är baserat på data från det elektroniska läkarintyget (FK 7263). Detta läkarintyg utfärdas inom hälso- och sjukvården när en läkare bedömer att en patient behöver sjukskrivas för att det hälsorelaterade tillståndet ska förbättras. Den Nationella statistiktjänsten innehåller alla elektroniska läkarintyg (FK 7263) som antingen signerats av läkare så det kan hämtas av patienten i Mina intyg eller som signerats och dessutom skickats till Försäkringskassan.
							</p>
							<p>
								Nationella statistiktjänsten innehåller endast intygsinformation från hälso- och sjukvården, tjänsten registrerar inte vad läkarintygen senare används till. En vanlig användning av läkarintyget (FK 7263) är för att ansöka om sjukpenning hos Försäkringskassan, Nationella statistiktjänsten registrerar inte om detta har skett eller vad Försäkringskassan gör för bedömning. Tjänsten baseras endast på hälso- och sjukvårdens ordinerade sjukskrivning.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group faq-accordion-group">
					<div class="accordion-heading faq-accordion-heading">
						<a class="accordion-toggle faq-accordion-toggle" data-toggle="collapse" href="#a4"><h2>4. Vad innebär sjukfall?</h2></a>
					</div>
					<div id="a4" class="accordion-body collapse faq-accordion-body">
						<div class="accordion-inner faq-accordion-inner">
							<p>
								Ett sjukfall omfattar alla de läkarintyg (FK 7263) som rör en viss patient och vars giltighet följer på varandra med max 5 dagars uppehåll. 
								Exempel: Om intyg 1 gäller till och med 14 augusti och intyg 2 gäller från och med17 augusti ses de båda intygen som samma sjukfall. Men om intyg 2 istället varit giltigt från och med 21 augusti räknas intygen som två skilda sjukfall.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group faq-accordion-group">
					<div class="accordion-heading faq-accordion-heading">
						<a class="accordion-toggle faq-accordion-toggle" data-toggle="collapse" href="#a5"><h2>5. Vilka olika typer av behörigheter finns för att se statistik i den Nationella statistiktjänsten?</h2></a>
					</div>
					<div id="a5" class="accordion-body collapse faq-accordion-body">
						<div class="accordion-inner faq-accordion-inner">
							<p>
								Den publika delen av Nationella statistiktjänsten kräver ingen registrering eller särskilt konto. 
								Om du arbetar inom hälso- och sjukvården med uppföljning av sjukskrivning eller som exempelvis verksamhetschef kan du ta del av statistik särskilt riktad till din vårdenhet/dina vårdenheter. För att göra detta krävs att du har ett medarbetaruppdrag för statistik, detta uppdrag sätts av din HSA-administratör. Mer information om medarbetaruppdraget som krävs finns HÄR.
							</p>
							<p>
								För att kunna logga in och se statistik för enskilda vårdenheter krävs följande:<br>
								<ul>
									<li>en kortläsare med tillhörande programvara, NetIDett SITHS-kort med pinkod</li>
									<li>en kortläsare med tillhörande programvara, NetID</li>
									<li>ett medarbetaruppdrag som ger dig rätt att ta del av statistik.</li>
								</ul>
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group faq-accordion-group">
					<div class="accordion-heading faq-accordion-heading">
						<a class="accordion-toggle faq-accordion-toggle" data-toggle="collapse" href="#a6"><h2>6. Vad innebär sjukskrivningslängd?</h2></a>
					</div>
					<div id="a6" class="accordion-body collapse faq-accordion-body">
						<div class="accordion-inner faq-accordion-inner">
							<p>
								Begreppet beskriver hur många dagar patienten rekommenderas sjukskrivning.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group faq-accordion-group">
					<div class="accordion-heading faq-accordion-heading">
						<a class="accordion-toggle faq-accordion-toggle" data-toggle="collapse" href="#a7"><h2>7. Vad innebär sjukskrivningsgrad?</h2></a>
					</div>
					<div id="a7" class="accordion-body collapse faq-accordion-body">
						<div class="accordion-inner faq-accordion-inner">
							<p>
								Begreppet beskriver hur många procent av en heltidsarbetstid (25 %, 50 %, 75 % eller 100 %) patienten rekommenderas sjukskrivning.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group faq-accordion-group">
					<div class="accordion-heading faq-accordion-heading">
						<a class="accordion-toggle faq-accordion-toggle" data-toggle="collapse" href="#a8"><h2>8. Vad innebär långtidssjukskrivning?</h2></a>
					</div>
					<div id="a8" class="accordion-body collapse faq-accordion-body">
						<div class="accordion-inner faq-accordion-inner">
							<p>
								Begreppet syftar på rekommenderade sjukskrivningslängder som överskrider 90 dagar.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group faq-accordion-group">
					<div class="accordion-heading faq-accordion-heading">
						<a class="accordion-toggle faq-accordion-toggle" data-toggle="collapse" href="#a9"><h2>9. Vad är nationell statistik?</h2></a>
					</div>
					<div id="a9" class="accordion-body collapse faq-accordion-body">
						<div class="accordion-inner faq-accordion-inner">
							<p>
								Nationell statistik är statistik för hela landet. Denna statistik är helt avidentifierad och har aggregerats för varje vårdgivare.
							</p>
							<p>
								När varje vårdgivares statistik beräknas för den nationella statistiken så tas endast hopslagna värden med utan personuppgifter. Dessutom filtreras alla värden som bedöms kunna innebära en risk för röjande av en persons identitet bort.
								Observera att denna filtrering gör att den nationella statistiken kan innehålla en liten felmarginal, siffrorna behöver inte motsvara exakt det antal sjukfall som syns.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group faq-accordion-group">
					<div class="accordion-heading faq-accordion-heading">
						<a class="accordion-toggle faq-accordion-toggle" data-toggle="collapse" href="#a10"><h2>10. Hur ofta uppdateras Nationella statistiktjänsten?</h2></a>
					</div>
					<div id="a10" class="accordion-body collapse faq-accordion-body">
						<div class="accordion-inner faq-accordion-inner">
							<p>
								Nationella statistiktjänsten uppdateras löpande med nya läkarintyg. Däremot så presenteras statistik endast på data fram till och med senaste avslutade månaden i de olika grafiska rapporterna. 
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group faq-accordion-group">
					<div class="accordion-heading faq-accordion-heading">
						<a class="accordion-toggle faq-accordion-toggle" data-toggle="collapse" href="#a11"><h2>11. Hur presenteras statistiken i Nationella statistiktjänsten?</h2></a>
					</div>
					<div id="a11" class="accordion-body collapse faq-accordion-body">
						<div class="accordion-inner faq-accordion-inner">
							<p>
								Statistik presenteras i form av rapporter som visar en grafisk bild över hur sjukskrivingarna ser ut med avseende på exempelvis:<br>
								<ul>
									<li>Antal sjukfall</li>
									<li>Diagnosgrupp</li>
									<li>Patientens ålder</li>
									<li>Patientens kön</li>
									<li>Sjuskrivningslängd</li>
									<li>Sjukskrivningsgrad</li>
								</ul>
								Till varje grafisk bild finns även en tabell som håller den data som utgör underlaget för den grafiska bilden.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group faq-accordion-group">
					<div class="accordion-heading faq-accordion-heading">
						<a class="accordion-toggle faq-accordion-toggle" data-toggle="collapse" href="#a12"><h2>12. Hur läser jag ett stapeldiagram?</h2></a>
					</div>
					<div id="a12" class="accordion-body collapse faq-accordion-body">
						<div class="accordion-inner faq-accordion-inner">
							<p>
								Ett stapeldiagram är en diagramtyp som använder antingen horisontella eller vertikala staplar för att visa jämförelser mellan olika variabler. En axel i diagrammet visar de specifika måtten/attributen som jämförs och den andra axeln representerar antal eller mängd.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group faq-accordion-group">
					<div class="accordion-heading faq-accordion-heading">
						<a class="accordion-toggle faq-accordion-toggle" data-toggle="collapse" href="#a13"><h2>13. Hur läser jag ett cirkeldiagram?</h2></a>
					</div>
					<div id="a13" class="accordion-body collapse faq-accordion-body">
						<div class="accordion-inner faq-accordion-inner">
							<p>
								Cirkeldiagram är en diagramtyp som med cirkelsektor visar andelar av totalmängd. 
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group faq-accordion-group">
					<div class="accordion-heading faq-accordion-heading">
						<a class="accordion-toggle faq-accordion-toggle" data-toggle="collapse" href="#a14"><h2>14. Hur läser jag ett linjediagram?</h2></a>
					</div>
					<div id="a14" class="accordion-body collapse faq-accordion-body">
						<div class="accordion-inner faq-accordion-inner">
							<p>
								Ett linjediagram är ett grafiskt sätt att presentera värdet för en variabel över tiden. Ett linjediagram visar värdet för en variabel på den vertikala axeln och tid på den horisontella axeln. I ett linjediagram kan man urskilja trender och jämföra flera tidsserier med varandra samtidigt.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group faq-accordion-group">
					<div class="accordion-heading faq-accordion-heading">
						<a class="accordion-toggle faq-accordion-toggle" data-toggle="collapse" href="#a15"><h2>15. Hur läser jag ett ytdiagram?</h2></a>
					</div>
					<div id="a15" class="accordion-body collapse faq-accordion-body">
						<div class="accordion-inner faq-accordion-inner">
							<p>
								Ytdiagram är en diagramtyp av liknande modell som linjediagram men med staplade ytor. Diagrammet visar trender över tid ställt mot olika varibler där de staplade ytorna representerar ackumulerade summor. Om flera variabler ingår i diagrammet ritas den första variabeln som en linje med färgfyllning som sedan följs av andra variabler. Den översta linjen i ett ytdiagram motsvarar det totala antalet och respektive del motsvarar det ackumulerade antalet för respektive variabel.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group faq-accordion-group">
					<div class="accordion-heading faq-accordion-heading">
						<a class="accordion-toggle faq-accordion-toggle" data-toggle="collapse" href="#a16"><h2>16. Hur exporterar jag till Excel?</h2></a>
					</div>
					<div id="a16" class="accordion-body collapse faq-accordion-body">
						<div class="accordion-inner faq-accordion-inner">
							<p>
								På respektive rapportsida finner du en knapp med texten "Spara som.." där har du möjlighet att spara tabellen i sin helhet till Excel.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group faq-accordion-group">
					<div class="accordion-heading faq-accordion-heading">
						<a class="accordion-toggle faq-accordion-toggle" data-toggle="collapse" href="#a17"><h2>17. Jag hittar inte den statistik som jag är intresserad av?</h2></a>
					</div>
					<div id="a17" class="accordion-body collapse faq-accordion-body">
						<div class="accordion-inner faq-accordion-inner">
							<p>
								Hör av dig till Nationella statistiktjänsten eller Inera? via <a href="/#/om/kontakt">Kontakt</a>, så tar vi med oss ditt önskemål i framtida utveckling av tjänsten. 
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>