<div class="row-fluid">
	<div id="about-content">
		<section id="login">
			<H1>Inloggning och behörighet - Texter nedan under uppbyggnad</H1>
			<p>
				<p>För att personal inom hälso- och sjukvården ska kunna nå statistik för sin vårdgivare och sin vårdenhet krävs behörighet att logga in. Nationella statistiktjänsten använder säker inloggning med SITHS-kort. Även om du kan logga in med SITHS måste du ha rätt medarbetaruppdrag i HSA för att kunna se statistiken för din vårdenhet. Det är upp till verksamhetschefen på varje vårdenhet att besluta vem som ska ha tillgång till statistiken och det är bara HSA-administratören som kan skapa medarbetaruppdrag.</p>
				<p>Den som inte har behörighet för att logga in har däremot alltid tillgång till den allmänna statistiken.</p> 
			</p>
		</section>
	</div>
</div>