<div class="row-fluid">
	<div id="about-content">
		<section id="login">
			<H1>Inloggning och behörighet - Texter nedan under uppbyggnad</H1>
			<p>
				För att personal inom hälso- och sjukvården ska kunna nå statistik för sin vårdgivare och vårdenheter krävs det behörighet för att logga in. Nationella statistiktjänsten använder säker inloggning med SITHS-kort. Behörigheten bygger på medarbetaruppdrag i HSA. Det är upp till verksamhetschefen på varje vårdenhet att besluta vem som ska ha tillgång till statistiken och det är HSA-administratören som kan skapa medarbetaruppdrag.
				Den som inte har behörighet för att logga in har alltid tillgång till nationell statistik.
			</p>
		</section>
	</div>
</div>