stats-header {
  .header {
    background-color: #212633;
    color: #fff;
    padding: 5px 0 10px; // don't change this setup. it's needed for IE8 flow on smaller screens to work
  }

  .header-logo {
    width: 242px;
  }

  .headerbox-logo {
    border-right: 1px solid #595c66;
    display: block;
    margin-top: 10px;
    padding: 3px 20px 0 30px;
  }

  .headerbox-date {
    display: block;
    line-height: 17px;
    padding: 15px 0 0 30px;
  }

  .headerbox-user {
    font-size: 13px;
    line-height: 16px;
    padding: 13px 0 0;
  }

  .headerbox-avatar {
    padding: 13px 30px 0 0;
  }

  .headerbox-user-profile {
    font-size: 13px;
    line-height: 18px;
    padding-right: 15px;
    text-align: left;
  }

  .headerbox-info-text {
    font-weight: normal;
  }

  .headerbox-info-text-padding {
    margin-top: 6px;
  }

  .headerbox-login {
    padding: 10px;
    margin-top: 7px;
    padding-right: 25px;
  }

  .business-login-span {
    font-weight: bold;
  }

  @media (max-width: 767px) {
    div.headerbox-logo img {
      margin-left: 15px;
    }
  }
}
