.cache
.classpath
.project
.settings
.gradle
.idea
*.iml
.gradletasknamecache
classes
fullbuild.out

.DS_Store

bin
target
build
statistik-web/node_modules
statistik-web/src/main/webapp/bower_components/
statistik-web/src/main/webapp/app/app.css
statistik-web/.sass-cache/
statistik-web/node
statistik-web/npm-debug.log
generatedSource

catalina.base_IS_UNDEFINED
statistik-gatling/logs
statistik-gatling/results

specifications/node_modules
specifications/reports
specifications/phantomjsdriver.log
RecentChanges.wiki
