.cache
.classpath
.project
.settings
.gradle
.idea
*.iml

.DS_Store

bin
target
build
web/.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator.launch
service/src/main/resources/rebel.xml
web/src/main/resources/rebel.xml
web/node_modules
web/node
web/npm-debug.log

catalina.base_IS_UNDEFINED
