.cache
.classpath
.project
.settings
.gradle
.idea
*.iml

.DS_Store

bin
target
build
statistics-web/.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator.launch
statistics-service/src/main/resources/rebel.xml
statistics-web/src/main/resources/rebel.xml
statistics-web/node_modules
statistics-web/node
statistics-web/npm-debug.log

catalina.base_IS_UNDEFINED
