<span class="overview-widget">
  <span class="overview-widget-header">
    <h2 class="overview-widget-title">
      <span message key="{{titleKey}}"></span>
      <span class="page-help-tool-tip pull-right"><img
          uib-tooltip-html="tooltipContent"
          tooltip-class="popover-content"
          tooltip-trigger="mouseenter"
          tooltip-placement="left"
          src="/assets/images/question_white.png"
          alt=""></span>
    </h2>
  </span>
  <span class="overview-widget-content">
    <div class="chart-container" id="{{chartId}}"></div>
    <table class="datatable table table-striped overview-graph-table">
        <thead>
          <tr>
              <td>&nbsp;</td>
              <td><span message key="{{columnTitle1}}"></span></td>
              <td><span message key="{{columnTitle2}}"></span></td>
              <td><span message key="{{columnTitle3}}"></span></td>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="group in groups">
              <td class="overview-widget-table-legend" ng-style="{backgroundColor: group.color}"></td>
              <td class="diagnostics-group-name">{{group.name}}{{valueSuffixWithSpace}}</td>
              <td class="diagnostics-group-quantity">{{group.quantity | thousandseparated}}</td>
              <td class="diagnostics-group-alternation">{{group.alternation}} %</td>
          </tr>
        </tbody>
    </table>
  </span>
</span>