// Inera variables

$st-color-01: #E11964;
$st-color-02: #032C53;
$st-color-03: #FFBA3E;
$st-color-04: #799745;
$st-color-05: #3CA3FF;
$st-color-06: #C37EB2;
$st-color-07: #2A5152;
$st-color-08: #FB7F4D;
$st-color-09: #5CC2BC;
$st-color-10: #704F38;
$st-color-11: #600030;
$st-color-12: #006697;
$st-color-13: #5D5D5D;
$st-color-14: #EA8025;
$st-color-15: #008391;
$st-color-16: #57843B;
$st-color-17: #fff;
$st-color-18: #f9f9f9;
$st-color-19: #f5f5f5;
$st-color-20: #e6e9ed;
$st-color-21: #e4e4e4;
$st-color-22: #d4d4d4;
$st-color-23: #ccc;
$st-color-24: #bcbcbc;
$st-color-25-top: #fff;
$st-color-25-bottom: #E0E0E0;
$st-color-26: #D2E7F4;
$st-color-27: #28B4C4;
$st-color-28-top: #008291;
$st-color-28-bottom: #00697E;
$st-color-29: #0F6B76;
$st-color-30-top: #5CB85C;
$st-color-30-bottom: #398439;
$st-color-31: #5CB85C;
$st-color-32: #398439;
$st-color-33: #3E8F3E;
$st-color-34: #333333;
$st-color-35: #212633;
$st-color-36: #D8EEF7;
$st-color-37: #4890E2;
$st-color-38: #3B759D;
$st-color-39: #FFF8E4;
$st-color-40: #F0E1B4;
$st-color-41: #9A6C41;
$st-color-42: #F2DEDE;
$st-color-43: #D0021C;
$st-color-44: #751723;
$st-color-46: #292F4F;
$st-color-47: #00a9a7;
$st-color-49: #3D4260;
$st-color-50: #66afe9;
$st-color-51: #999999;
$st-color-52: #e4f5f5;
$st-color-53: #27b5b2;
$st-color-54: #212121;

$stat-btn-color: $st-color-15;
$stat-header-color: $st-color-15;

$stat-link-color-filter: #0b0b0b;

$stat-collapse-panel-bg: #f9f9f9;

$stat-panel-header-from: $st-color-15;
$stat-panel-header-to: #00687d;
$stat-panel-header-hover: $st-color-27;
$stat-panel-header-color: #fff;
$stat-panel-bg: #ebebeb;
$stat-panel-bg-hover: #f0f0f0;

$stat-header-link-color: $st-color-27;

$stat-filter-active: $st-color-14;

$stat-menu-header-bg: $st-color-35;
$stat-menu-header-bg-from: #666;
$stat-menu-header-disabled-bg: #eee;

$stat-highcharts-tooltip-bg: #fff;
$stat-highcharts-tooltip-color: #000;

// Bootstrap variables (Here we override bootstraps default values with MI custom variables defined above)
$icon-font-path: '../assets/fonts/bootstrap/';
$fa-font-path: '../assets/fonts/font-awesome';

$font-family-sans-serif: Helvetica, Arial, sans-serif;

// Headers
$font-size-h1: 20px;
$font-size-h2: 14px;

// Btn
$btn-info-color:                 #fff;
$btn-info-bg:                    $stat-btn-color;
$btn-info-border:                $stat-btn-color;

// Link
$link-color: $st-color-27;
$link-hover-color: $st-color-27;
$link-hover-decoration: underline;


$panel-default-heading-bg: #fff;
$panel-default-border: #e4e4e4;

$dropdown-link-hover-color: #0b0b0b;
$dropdown-link-hover-bg: #ccc;

$dropdown-link-active-color: #000;
$dropdown-link-active-bg: #e7e7e7;


$table-bg-accent: #f9f9f9;
$table-bg-even: #e9eae8;

$table-bg-hover: #b9b9b9;

// Nav
$nav-tabs-border-color: $st-color-23;
$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-active-link-hover-border-color:  transparent;
$nav-tabs-justified-link-border-color: $st-color-23;

$nav-link-hover-bg: $st-color-17;
$nav-tabs-active-link-hover-bg:  $st-color-17;
