filter-chips-list {
  ul {
    display: inline-block;
    margin-right: 40px;
    padding: 0;
    vertical-align: top;

    li {
      list-style-type: none;
    }
  }

  .filter-heading {
    font-weight: bold;
  }

  .filter-hover {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    width: 15px;
  }

  .default-text {
    display: inline-block;
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
  }

  .remove-filter,
  .undo-remove-filter {
    display: none;
  }

  .inactive,
  .removed {
    color: #7e7e7f;
  }

  .filter-chips {
    &:hover {
      cursor: pointer;

      .remove-filter {
        display: block;
      }
    }

    &.removed {
      .default-text {
        text-decoration: line-through;
      }

      &:hover {
        .remove-filter {
          display: none;
        }

        .undo-remove-filter {
          display: block;
        }
      }
    }

    &.ng-leave {
      opacity: 1;
      transition: .3s;

      &.ng-leave-active {
        opacity: 0;
      }
    }
  }
}
