filter-chips-list {
  ul {
    display: inline-block;
    margin-right: 40px;
    padding: 0;
    vertical-align: top;

    li {
      list-style-type: none;
    }
  }

  .filter-heading {
    font-weight: bold;
  }

  .filter-hover {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    width: 15px;
  }

  .default-text {
    display: inline-block;
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
  }
}
