select-vardgivare-modal {
  display: block;

  .select-vardgivare-modal {
    padding: 0;

    span {
      @extend %st-typo-05;
      color: $st-color-27;
    }

    &:hover,
    &:focus {
      color: $st-color-27;
    }
  }
}
