<div class="stat-scroll-table">
  <table class="table table-striped table-headers table-hover">
    <thead>
    <tr data-ng-repeat="headerrow in headerRows">
      <td data-ng-if="$first" class="scrollable details-table-data ellipsis details-th sorter-false headcol"
          data-ng-class="{centeralign: headerrow.centerAlign}"
          colspan="{{::header.colspan}}" data-ng-repeat="header in headerrow" title="{{::header.text}}"
          style="padding-right: 20px;">
        {{::header.text}}
      </td>
    </tr>
    </thead>
    <tbody class="table-condensed">
    <tr data-ng-repeat="row in rowsShown" class="stat-table-row" title="{{::row.name}}">
      <td class="scrollable headcol"><span class="headcol-name" ng-class="{bold: row.marked}">{{::row.name}}</span></td>
    </tr>
    </tbody>
  </table>
  <div id="table-column-measureContainer"></div>

  <div class="scrolling">
    <table class="table table-striped table-hover">
      <thead>
      <tr data-ng-repeat="headerrow in headerRows">
        <td data-ng-if="!$first" class="scrollable details-table-data ellipsis details-th"
            data-ng-class="{centeralign: headerrow.centerAlign,
            'sortable-column': $parent.$parent.$last,
            'sorted-column': ($index === sortIndex),
            'sorted-reverse': sortReverse}"
            data-ng-click="sortByColumn($index, $parent.$parent.$last)"
            colspan="{{::header.colspan}}"
            data-ng-repeat="header in headerrow" title="{{::header.text}}"
            style="padding-right: 20px; white-space: nowrap;">
          {{::header.text}}
          <i data-ng-if="$parent.$parent.$last" class="fa fa-sort" aria-hidden="true"></i>
        </td>
      </tr>
      </thead>
      <tbody class="table-condensed datatable-body">
        <tr data-ng-repeat="row in rowsShown" class="stat-table-row" title="{{::row.name}}">
          <td class="scrollable" data-ng-repeat="fieldData in row.data track by $index"
              >{{::fieldData.value}}</td>
        </tr>
      </tbody>
    </table>
    <a ng-show="rowsHidden.length > 0" ng-click="showAllRows()">Visa alla rader</a>
  </div>
</div>
