<div class="stat-scroll-table">
  <table class="datatable table table-striped table-headers">
    <thead>
    <tr data-ng-repeat="headerrow in headerRows track by $index">
      <td data-ng-if="$first" class="scrollable details-table-data ellipsis details-th sorter-false headcol"
          data-ng-class="{centeralign: headerrow.centerAlign}"
          colspan="{{::header.colspan}}" data-ng-repeat="header in headerrow" title="{{::header.text}}"
          style="padding-right: 20px; white-space: nowrap;">
        {{::header.text}}
      </td>
    </tr>
    </thead>
    <tbody class="table-condensed">
    <tr data-ng-repeat="row in rowsShown" title="{{::row.name}}">
      <td class="scrollable headcol"><span class="headcol-name" ng-class="{bold: row.marked}">{{::row.name}}</span></td>
    </tr>
    </tbody>
  </table>

  <div class="scrolling">
    <table class="datatable table table-striped" sortable-table>
      <thead>
      <tr data-ng-repeat="headerrow in headerRows track by $index">
        <td data-ng-if="!$first" class="scrollable details-table-data ellipsis details-th"
            data-ng-class="{centeralign: headerrow.centerAlign}"
            colspan="{{::header.colspan}}" data-ng-repeat="header in headerrow" title="{{::header.text}}"
            style="padding-right: 20px; white-space: nowrap;">
          {{::header.text}}
        </td>
      </tr>
      </thead>
      <tbody class="table-condensed">
      <tr data-ng-repeat="row in rowsShown" title="{{::row.name}}">
        <td class="scrollable" data-text="{{::fieldData | replaceEmpty}}" data-ng-repeat="fieldData in row.data track by $index"
            >{{::fieldData | thousandseparated}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div data-ng-if="moreThanMax" class="scroll-table-alert">
    <div class="alert alert-warning">
      <strong message key="table.warning.title"></strong> <span message key="table.warning.text"></span>
    </div>
  </div>

</div>