.stat-scroll-table {
  position: relative;

  table {
    border-collapse: separate;
  }

  td.scrollable {
    margin: 0;
    white-space: nowrap;
  }

  tbody td,
  tbody tr {
    height: 33px;
  }

  thead tr td {
    border-bottom-width: 1px !important;
    height: 30px;
  }

  .table-headers {
    float: left;
    max-width: 34em;
  }

  .headcol.scrollable {
    text-align: left !important;
  }

  tbody tr:hover td,
  tbody tr:hover th {
    background-color: #e9eae8;
  }

  .headcol-name {
    display: inline-block;
    max-width: 34rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  div.scrolling {
    font-size: 12px;
    overflow-x: auto;
    overflow-y: visible;
    padding-bottom: 1px;
  }

  .scroll-table-alert {
    box-shadow: 0 0 100px 40px #fff;
    position: relative;
    text-align: center;

    .alert-warning {
      display: inline-block;
      margin-top: 10px;
    }
  }

  .sortable-column {
    cursor: pointer;

    &.sorted-column {
      border-bottom: 1px solid #000;

      .fa-sort:before {
        content: '\f0de';
      }

      &.sorted-reverse {
        .fa-sort:before {
          content: '\f0dd';
        }
      }
    }
  }
}
