.stat-scroll-table {
  position: relative;

  table {
    border-collapse: separate;
  }

  td.scrollable {
    white-space: nowrap;
    margin: 0;
  }

  tbody td, tbody tr {
    height:33px;
  }

  thead tr td {
    height: 30px;
    border-bottom-width: 1px !important;
  }

  .table-headers {
    float: left;
    max-width: 34em;
  }

  .headcol.scrollable {
    //position: absolute;
    //left: 0;
    text-align: left !important;
  }

  tbody tr:hover td,
  tbody tr:hover th {
    background-color: #e9eae8;
  }

  .headcol-name {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 34rem;
  }

  div.scrolling {
    overflow-x: auto;
    //margin-left: 34em;
    overflow-y: visible;
    padding-bottom: 1px;
    font-size: 12px;
  }

  .scroll-table-alert {
    text-align: center;
    box-shadow: 0 0 100px 40px #fff;
    position: relative;

    .alert-warning {
      margin-top: 10px;
      display: inline-block;
    }
  }

  .sortable-column {
    cursor: pointer;

    &.sorted-column {
      border-bottom: 1px solid #000000;

      .fa-sort {
        @extend .fa-sort-asc
      }

      &.sorted-reverse {
        .fa-sort {
          @extend .fa-sort-desc
        }
      }
    }
  }
}