<form name="myForm" novalidate class="business-filter">
  <fieldset data-ng-disabled="!businessFilter.dataInitialized">
  <div
      class="btn-group margin-right"
      uib-dropdown auto-close="outsideClick" is-open="isDateSelectOpen">
    <button id="select-dateintervall" data-ng-class="{'filter-active-btn': businessFilter.fromDate != null && businessFilter.toDate != null }" type="button" class="btn btn-default" uib-dropdown-toggle>
      <i class="fa fa-clock-o"></i> {{::'lbl.filter.btn.datumintervall' | messageFilter}}
    </button>
    <div class="dropdown-menu dateintervall-dropdown" uib-dropdown-menu>
      <div class="margin-right">
        <label for="filterFromDate">
          <span message key="lbl.filter.val-av-tidsintervall-fran"></span>
        </label>&nbsp;
        <div class="input-wrapper">
          <span class="input-group input-group-sm datepicker" ng-class="{'has-error': fromDateValidationError}">
            <input
                id="filterFromDate"
                name="fromDate"
                type="text"
                class="form-control"
                ng-attr-placeholder="{{::dateFormatPlaceholder}}"
                data-ng-model="businessFilter.fromDate"
                data-ng-blur="validateDate()"
                uib-datepicker-popup="{{::dateFormat}}"
                datepicker-options="dateOptions"
                show-button-bar="false"
                is-open="isFromDateOpen"
                maxlength="7"
                year-month-input-limiter/>
            <span class="input-group-btn">
                <button id="fromDatePickerBtn"
                        type="button"
                        class="btn btn-default"
                        data-ng-click="isFromDateOpen = !isFromDateOpen">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
          </span>
        </div>
      </div>

      <div class="margin-right">
        <label for="filterToDate">
          <span message key="lbl.filter.val-av-tidsintervall-till"></span>
        </label>&nbsp;
        <div class="input-wrapper">
          <span class="input-group input-group-sm datepicker" ng-class="{'has-error': toDateValidationError}">
            <input
                id="filterToDate"
                name="toDate"
                type="text"
                class="form-control"
                ng-attr-placeholder="{{::dateFormatPlaceholder}}"
                data-ng-model="businessFilter.toDate"
                data-ng-blur="validateDate()"
                uib-datepicker-popup="{{::dateFormat}}"
                datepicker-options="dateOptionsTo"
                show-button-bar="false"
                is-open="isToDateOpen"
                maxlength="7"
                year-month-input-limiter/>
              <span class="input-group-btn">
                  <button id="toDatePickerBtn"
                          type="button"
                          class="btn btn-default"
                          data-ng-click="isToDateOpen = !isToDateOpen">
                      <i class="fa fa-calendar"></i>
                  </button>
              </span>
          </span>
        </div>
      </div>

      <button
          id="filterDateResetBtn"
          type="button"
          class="btn btn-default"
          data-ng-click="clearDates()">
        <span message key="lbl.clear"></span>
      </button>

      <div data-ng-if="showDateValidationError">
        <div class="alert alert-danger" role="alert">
          <strong message key="login.alert-danger"></strong>
          {{errorMessage}}
        </div>
      </div>
    </div>
  </div>

  <tree-multi-selector
      class="margin-right select-business"
      data-ng-class="{'filter-active': businessFilter.geographyBusinessIds.length > 0}"
      hide-label="true"
      button-icon="fa-building-o"
      menu-options="businessFilter.geography"
      run-filter-menu-on-init="true"
      on-open="businessFilter.setSelectedGeography"
      done-clicked="businessFilter.updateGeography"
      data-ng-if="businessFilter.showBusinessFilter()"
      text-data="geographyFilterSelectorData"
      select-all-text-key="lbl.filter.verksamhet.select-all"
      search-hint-text-key="lbl.filter.verksamhet.search.hint"
      max-depth="3"
      sidebar-menu-expand="lbl.filter.verksamhet.link"
      sidebar-menu-collapse="lbl.filter.verksamhet.link.collapse"
      sidebar-state="sidebarState"
      verksamhets-typer="businessFilter.verksamhetsTyper">
  </tree-multi-selector>

  <tree-multi-selector
      class="margin-right select-diagnoses"
      data-ng-class="{'filter-active': businessFilter.selectedDiagnoses.length > 0}"
      hide-label="true"
      button-icon="fa-stethoscope"
      ignore-chars-in-search="."
      menu-options="icd10"
      on-open="businessFilter.setSelectedDiagnoses"
      done-clicked="businessFilter.updateDiagnoses"
      text-data="diagnosisFilterSelectorData"
      select-all-text-key="lbl.filter.val-av-diagnoser.select-all"
      search-hint-text-key="lbl.filter.val-av-diagnoser.search.hint"
      sidebar-state="sidebarStateDiagnose">
  </tree-multi-selector>

  <filter-multi-select
      style-class="select-aldersgrupp"
      label="lbl.filter.btn.aldersgrupp"
      icon="fa-users"
      model="businessFilter.selectedAldersgruppIds"
      options="businessFilter.aldersgrupp">
  </filter-multi-select>

  <filter-multi-select
      style-class="select-sjukskrivningslangd"
      label="lbl.filter.btn.sjukskrivningslangd"
      icon="fa-calendar"
      model="businessFilter.selectedSjukskrivningslangdIds"
      is-disabled="!filterViewState.sjukskrivningslangd"
      options="businessFilter.sjukskrivningslangd">
  </filter-multi-select>

  <filter-multi-select
      style-class="select-intygstyper"
      label="lbl.filter.btn.intygstyper"
      icon="fa-file-text-o"
      model="businessFilter.selectedIntygstyperIds"
      is-disabled="!filterViewState.intygstyper"
      options="businessFilter.intygstyper">
  </filter-multi-select>

  <button id="filterApplyBtn" class="btn btn-success" type="button" ng-click="makeSelection()" data-ng-disabled="!filterToApply">
    <i class="fa fa-spinner" data-ng-class="{'fa-spin': loadingFilter}" data-ng-show="loadingFilter"></i> <span message key="lbl.filtrera"></span>
  </button>

  <button id="filterResetBtn" type="button" class="btn btn-default" data-ng-click="resetBusinessFilter(myForm)">
    <span message key="lbl.aterstall"></span>
  </button>

  <filter-chips business-filter="businessFilter" data-ng-if="businessFilter.hasUserSelection"></filter-chips>
  </fieldset>
</form>

<div class="filter-level" data-ng-if="filterViewState.messages.length > 0" style="margin-bottom: 10px">
  <div ng-repeat="resultMessage in filterViewState.messages">
    <show-message type="resultMessage.type" severity="resultMessage.severity" text="resultMessage.message"></show-message>
  </div>
</div>
