<div uib-collapse="!hasMessages && isFilterCollapsed">
<div id="statistics-filter-container" class="business-filter" data-ng-class="{'filter-active': businessFilter.hasUserSelection}" >
  <div class="row" style="text-align: center" data-ng-show="!businessFilter.dataInitialized && !isFilterCollapsed">
    <span style="margin: auto">Laddar filterdata</span>
  </div>
  <form uib-collapse="hasMessages && isFilterCollapsed" name="myForm" novalidate class="row" data-ng-show="businessFilter.dataInitialized">
    <div class="filter-level">
      <div class="col-xs-12">
      <strong class="title">Tidsintervall</strong>

      <div class="margin-right">
        <label for="filterFromDate">
          <span message key="lbl.filter.val-av-tidsintervall-fran"></span>
        </label>&nbsp;
        <div class="input-wrapper">
          <span class="input-group input-group-sm datepicker" ng-class="{'has-error': fromDateValidationError}">
            <input
                id="filterFromDate"
                name="fromDate"
                type="text"
                class="form-control"
                ng-attr-placeholder="{{dateFormatPlaceholder}}"
                data-ng-model="businessFilter.fromDate"
                data-ng-blur="validateDate()"
                uib-datepicker-popup="{{format}}"
                datepicker-options="dateOptions"
                show-button-bar="false"
                is-open="isFromDateOpen"
                maxlength="7"
                year-month-input-limiter/>
            <span class="input-group-btn">
                <button id="fromDatePickerBtn"
                        type="button"
                        class="btn btn-default"
                        data-ng-click="isFromDateOpen = !isFromDateOpen">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
          </span>
        </div>
      </div>

      <div class="margin-right">
        <label for="filterToDate">
          <span message key="lbl.filter.val-av-tidsintervall-till"></span>
        </label>&nbsp;
        <div class="input-wrapper">
          <span class="input-group input-group-sm datepicker" ng-class="{'has-error': toDateValidationError}">
            <input
                id="filterToDate"
                name="toDate"
                type="text"
                class="form-control"
                ng-attr-placeholder="{{dateFormatPlaceholder}}"
                data-ng-model="businessFilter.toDate"
                data-ng-blur="validateDate()"
                uib-datepicker-popup="{{format}}"
                datepicker-options="dateOptionsTo"
                show-button-bar="false"
                is-open="isToDateOpen"
                maxlength="7"
                year-month-input-limiter/>
              <span class="input-group-btn">
                  <button id="toDatePickerBtn"
                          type="button"
                          class="btn btn-default"
                          data-ng-click="isToDateOpen = !isToDateOpen">
                      <i class="fa fa-calendar"></i>
                  </button>
              </span>
          </span>
        </div>
      </div>

        <button
            id="filterDateResetBtn"
            type="button"
            class="btn btn-default"
            data-ng-click="clearDates()">
          <span message key="lbl.clear"></span>
        </button>
      </div>
    </div>

    <div class="divider" style="margin-bottom: 0"></div>

    <div class="filter-level">
      <div class="col-xs-12">
        <strong class="title">Filter</strong>

        <tree-multi-selector
            class="margin-right top-10px-margin select-business"
            hide-label="true"
            button-icon="fa-building-o"
            menu-options="businessFilter.geography"
            run-filter-menu-on-init="true"
            on-open="businessFilter.setSelectedGeography"
            done-clicked="businessFilter.updateGeography"
            data-ng-if="businessFilter.showBusinessFilter()"
            text-data="geographyFilterSelectorData"
            select-all-text-key="lbl.filter.verksamhet.select-all"
            search-hint-text-key="lbl.filter.verksamhet.search.hint"
            show-code-level="false"
            sidebar-menu-expand="lbl.filter.verksamhet.link"
            sidebar-menu-collapse="lbl.filter.verksamhet.link.collapse"
            sidebar-state="sidebarState">

            <div id="verksamhet-uib-collapser" data-ng-if="!sidebarState.collapsed">
              <h2><span message key="lbl.filter.verksamhet.quickselection.title"/></h2>
              <ul class="verksamhets-typer-list">
                <li data-ng-repeat="verksamhet in businessFilter.verksamhetsTyper">
                  <button type="button"
                          class="btn btn-default btn-block"
                          data-ng-click="selectVerksamhetsTyp(verksamhet)">

                          <i class="fa fa-plus"></i> {{verksamhet.name}}
                  </button>
                </li>
              </ul>
            </div>
        </tree-multi-selector>

        <tree-multi-selector
            class="margin-right top-10px-margin highlight-content select-diagnoses"
            hide-label="true"
            button-icon="fa-stethoscope"
            ignore-chars-in-search="."
            menu-options="icd10"
            on-open="businessFilter.setSelectedDiagnoses"
            done-clicked="businessFilter.updateDiagnoses"
            text-data="diagnosisFilterSelectorData"
            select-all-text-key="lbl.filter.val-av-diagnoser.select-all"
            search-hint-text-key="lbl.filter.val-av-diagnoser.search.hint"
            show-code-level="true"
            sidebar-state="sidebarStateDiagnose">
        </tree-multi-selector>

        <div class="margin-right top-10px-margin select-sjukskrivningslangd">
          <select
              ng-model="businessFilter.selectedSjukskrivningslangdIds"
              multiple="multiple"
              ng-options="sjukskrivningslangd.id as sjukskrivningslangd.name for sjukskrivningslangd in businessFilter.sjukskrivningslangd"
              multiselect-dropdown="Sjukskrivningslängder"
              multiselect-dropdown-icon="fa-calendar"
              id="select-sjukskrivningslangd">
          </select>
        </div>

        <div class="margin-right top-10px-margin select-aldersgrupp">
          <select
            ng-model="businessFilter.selectedAldersgruppIds"
            multiple="multiple"
            ng-options="aldersgrupp.id as aldersgrupp.name for aldersgrupp in businessFilter.aldersgrupp"
            multiselect-dropdown="Åldersgrupper"
            multiselect-dropdown-icon="fa-users"
            id="select-aldersgrupp">
          </select>
        </div>
      </div>
    </div>

    <filter-chips
        business-filter="businessFilter"
        is-collapsed="isFilterCollapsed"></filter-chips>

    <div class="divider"></div>

    <div class="filter-level bottom-buttons"  style="margin-bottom: 10px">
        <div class="col-xs-12">
            <button id="filterResetBtn" type="button" class="btn btn-default pull-left" data-ng-click="resetBusinessFilter(myForm)">
                <span message key="lbl.aterstall"></span>
            </button>

            <button id="filterApplyBtn" class="btn btn-success pull-right" type="button"
                    ng-click="makeSelection()">
                <span class="button-loader" ng-show="loadingFilter"></span> <span message key="lbl.filtrera"></span>
            </button>
        </div>
        <div class="col-xs-12" data-ng-if="showDateValidationError">
          <div class="alert alert-danger" role="alert">
            <strong message key="login.alert-danger"></strong>
            {{errorMessage}}
          </div>
        </div>
    </div>
  </form>

  <div class="row" data-ng-if="hasMessages">
    <div class="filter-level">
      <div class="col-xs-12" style="margin-bottom: 10px">
        <div ng-repeat="resultMessage in messages">
          <show-message type="resultMessage.type" severity="resultMessage.severity" text="resultMessage.message"></show-message>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<filter-button></filter-button>
