    <div id="business-overview">
		<div class="row-fluid">
			<div id="overview-content"> <!-- Start: Overview content -->
				<div class="row-fluid">
					<div class="span4">
						<h1 tabindex="-1" id="nationalOverviewHeading">Verksamhetsstatistik</h1>
					</div>
					<div class="span5 offset3">
						<div class="btn-group statistics-btn-group">
						  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						    Skriv ut i..
						    <span class="caret"></span>
						  </a>
						  <ul class="dropdown-menu left">
						    <li><a onclick="window.print();"><img src="/img/dropdown-icons/print-colour.png"/> Färg</a></li>
			    			<li><a class="disabled"><img src="/img/dropdown-icons/print-bw-inactive.png"/> Svart-vitt</a></li>
						  </ul>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<h2 style="line-height: 10px;">{{ verksamhetName }}</h2> 
					</div>
				</div>
				<div class="row-fluid">
					<span class="span12 overview-ingress">Utvecklingen senaste 3 månaderna</span>
				</div>
                <div dataerrorview show-error="dataLoadingError">
                    <div spinner label="{{spinnerText}}" show-spinner="!doneLoading" show-content="doneLoading">
						<div class="row-fluid row-margin-bottom">
							<!-- CHOOSE BUSINESS BUTTON -->
							<div class="btn-group">
								<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
									Välj verksamhet...<span class="caret"></span>
								</a>
								<ul class="dropdown-menu left">
									<li ng-repeat="business in businesses" ><a tabindex="-1" ng-href="#/verksamhet/{{business.id}}/oversikt">{{business.name}}</a></li>
								</ul>
	                        </div>
						</div>
						<!-- Start business overview boxes -->
						<div class="row-fluid">
							<div class="span3">
                                <div class="overview-box-header-container">
                                    <ul class="overview-box-header">
                                        <li class="overview-box-header-listItem">
                                            <a ng-href="{{baseUrl}}/sjukfallPerManad" id="casesPerMonthAlterationLink">
                                                <h2>Totalt antal
                                                    <i class="icon-chevron-right icon-white"></i>
                                                </h2>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div id="overview-change-container">
                                     <div class="overview-change-responsive-circle">
                                        <div>
                                            <div>
                                                <div>
                                                    <div id="totalCasesPerMonthLabel">{{totalCasesPerMonth}}</div>
                                                </div>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                                <div class="overview-box-information-container small-info-box" style="position: relative">
                                	<a id="pageHelpToolTip" popover-title="{{popoverTextTitle}}" popover="{{popoverTextAmount}} {{popoverTextChangeProcentage}}" popover-trigger="mouseenter" popover-placement="left" style="float: right; margin-right: 10px;"><img src="/img/questionmark2.png" alt=""></a>
                                </div>
								<div class="box-bottom"></div>
                            </div>
                            <div class="span9">
                                <div class="overview-box-header-container">
                                    <ul class="overview-box-header">
                                        <li class="overview-box-header-listItem">
                                            <a ng-href="{{baseUrl}}/sjukfallPerManad" id="casesPerMonthAlterationLink">
                                                <h2>Könsfördelning av sjukfall
                                                    <i class="icon-chevron-right icon-white"></i>
                                                </h2>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div id="overview-change-container">
                                    <div class="chart-container" id="sexProportionChartOld"></div>
                                    <div class="chart-container" id="sexProportionChartNew"></div>
                                </div>
                                <div class="overview-box-information-container" style="position: relative">
                                    <a id="pageHelpToolTip" popover-title="{{popoverTextTitle}}" popover="{{popoverTextAmount}} {{popoverTextChangeProcentage}}" popover-trigger="mouseenter" popover-placement="left" style="float: right; margin-right: 10px;"><img src="/img/questionmark2.png" alt=""></a>
                                </div>
								<div class="box-bottom"></div>
                            </div>
						</div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="overview-box-header-container">
                                    <ul class="overview-box-header">
                                        <li class="overview-box-header-listItem">
                                            <a ng-href="{{baseUrl}}/diagnosgrupper" id="diagnosisGroupsHeaderLink">
                                                <h2>Fördelning diagnosgrupper
                                                    <i class="icon-chevron-right icon-white"></i>
                                                </h2>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div id="overview-distribution-diagnostic-groups-container">
                                    <div class="chart-container" id="diagnosisChart"></div>
                                    <table id="datatable" class="table table-bordered table-striped table-condensed overview-graph-table">
                                        <thead>
                                            <tr>
                                                <td>Grupp</td>
                                                <td>Antal</td>
                                                <td>Förändring</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="group in diagnosisGroups">
                                                <td><span style="height:10px; width:10px; background-color: {{group.color}};"></span>{{group.name}}</td>
                                                <td>{{group.quantity}}</td>
                                                <td>{{group.alternation}}%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="overview-box-information-container" style="position: relative">
                                    <a id="pageHelpToolTip" popover-title="{{popoverTextTitle}}" popover="{{popoverTextAmount}} {{popoverTextChangeProcentage}}" popover-trigger="mouseenter" popover-placement="left" style="float: right; margin-right: 10px;"><img src="/img/questionmark2.png" alt=""></a>
                                </div>
                                <div class="box-bottom"></div>
                            </div>
                        
                            <div class="span6">
                                <div class="overview-box-container">
                                    <ul class="overview-box-header">
                                        <li class="overview-box-header-listItem">
                                            <a ng-href="{{baseUrl}}/aldersgrupper" id="ageGroupsHeaderLink">
                                                <h2>Fördelning åldersgrupper
                                                    <i class="icon-chevron-right icon-white"></i>
                                                </h2>
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="overview-distribution-of-age-groups-container">
                                        <div class="row-fluid">
                                            <div class="chart-container" id="ageChart"></div>
                                            <table id="datatable" class="table table-bordered table-striped table-condensed overview-graph-table">
                                                <thead>
                                                    <tr>
                                                        <td>Grupp</td>
                                                        <td>Antal</td>
                                                        <td>Förändring</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="group in ageGroups">
                                                        <td><span style="height:10px; width:10px; background-color: {{group.color}};"></span>{{group.name}}</td>
                                                        <td>{{group.quantity}}</td>
                                                        <td>{{group.alternation}}%</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="overview-box-information-container" style="position: relative">
	                                    <a id="pageHelpToolTip" popover-title="{{popoverTextTitle}}" popover="{{popoverTextAmount}} {{popoverTextChangeProcentage}}" popover-trigger="mouseenter" popover-placement="left" style="float: right; margin-right: 10px;"><img src="/img/questionmark2.png" alt=""></a>
	                                </div>
									<div class="box-bottom"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span6">
                                <div class="overview-box-container">
                                    <div class="overview-box-header-container">
                                        <ul class="overview-box-header">
                                            <li class="overview-box-header-listItem">
                                                <a ng-href="{{baseUrl}}/sjukskrivningslangd" id="sickLeaveLengthHeaderLink">
                                                    <h2>Fördelning sjukskrivningslängd
                                                        <i class="icon-chevron-right icon-white"></i>
                                                    </h2>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="overview-distribution-sick-length-container">
                                        <div class="row-fluid">
                                            <div class="chart-container" id="sickLeaveLengthChart"></div>
                                            <div class="overview-chart-info">
                                                <div class="overview-chart-info-section">
                                                    <span class="longSickLeavesValue">{{longSickLeavesTotal}}</span>
                                                    <span class="longSickLeavesText">Antalet sjukfall som övergår 90 dagar</span>
                                                </div>
                                                <div class="overview-chart-info-section">
                                                    <span class="longSickLeavesValue">{{longSickLeavesAlteration}}%</span>
                                                    <span class="longSickLeavesText">Förändring av antalet sjukfall som övergår 90 dagar jämfört med föregående kvartal</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="overview-box-information-container" style="position: relative">
	                                    <a id="pageHelpToolTip" popover-title="{{popoverTextTitle}}" popover="{{popoverTextAmount}} {{popoverTextChangeProcentage}}" popover-trigger="mouseenter" popover-placement="left" style="float: right; margin-right: 10px;"><img src="/img/questionmark2.png" alt=""></a>
	                                </div>
									<div class="box-bottom"></div>
                                </div>
                            </div>

                            <div class="span6">
                                <div class="overview-box-container">
                                    <div class="overview-box-header-container">
                                        <ul class="overview-box-header">
                                            <li class="overview-box-header-listItem">
                                                <a ng-href="{{baseUrl}}/sjukskrivningsgrad" id="degreeOfSickLeaveHeaderLink">
                                                    <h2>Fördelning sjukskrivningsgrad
                                                        <i class="icon-chevron-right icon-white"></i>
                                                    </h2>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="overview-distribution-of-sick-degree-container">
                                        <div class="row-fluid">
                                            <div class="chart-container" id="degreeOfSickLeaveChart"></div>
                                            <table id="datatable" class="table table-bordered table-striped table-condensed overview-graph-table">
                                                <thead>
                                                    <tr>
                                                        <td>Grad</td>
                                                        <td>Antal</td>
                                                        <td>Förändring</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="group in degreeOfSickLeaveGroups">
                                                        <td><span style="height:10px; width:10px; background-color: {{group.color}};"></span>{{group.name}}</td>
                                                        <td>{{group.quantity}}</td>
                                                        <td>{{group.alternation}}%</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="overview-box-information-container" style="position: relative">
	                                    <a id="pageHelpToolTip" popover-title="{{popoverTextTitle}}" popover="{{popoverTextAmount}} {{popoverTextChangeProcentage}}" popover-trigger="mouseenter" popover-placement="left" style="float: right; margin-right: 10px;"><img src="/img/questionmark2.png" alt=""></a>
	                                </div>
                            		<div class="box-bottom"></div>
                                </div>
                            </div>
                        </div>
						<!-- End business overview boxes -->
					</div>
                </div>
			</div>
		</div> <!-- End: Overview content -->
    </div> <!-- /container -->
    
    
    
