<div class="stat-scroll-table">

  <div id="table-column-measureContainer"></div>

  <show-message data-ng-if="!tableVisible" severity="messageSeverity" text="message"></show-message>

  <div data-ng-if="!tableVisible" class="show-table">
    <a ng-click="showTable()">Visa tabellen</a>
  </div>

  <div data-ng-if="tableVisible" spinner label="Laddar" show-spinner="!doneLoading"></div>

  <div data-ng-if="tableVisible">
    <table class="table table-striped table-headers table-hover">
      <thead>
      <tr data-ng-repeat="headerrow in headers">
        <td
            data-ng-repeat="header in headerrow | limitTo: 1"
            class="scrollable details-table-data ellipsis sorter-false headcol"
            data-ng-class="{centeralign: headerrow.centerAlign}"
            colspan="{{::header.colspan}}">
          {{::header.text}}
        </td>
      </tr>
      </thead>
      <tbody class="table-condensed">
      <tr data-ng-repeat="row in rowsShown" class="stat-table-row" title="{{::row.name}}">
        <td class="scrollable headcol" data-ng-class="{marked: row.marked}"><span class="headcol-name" ng-bind-html="::row.name | highlightWords"></span></td>
      </tr>
      </tbody>
    </table>

    <div class="scrolling">
      <table class="table table-striped table-hover">
        <thead>
        <tr data-ng-repeat="headerrow in headers track by $index">
          <td
              data-ng-repeat="header in headerrow"
              data-ng-if="!$first"
              class="scrollable details-table-data ellipsis"
              data-ng-class="{centeralign: headerrow.centerAlign,
              'sortable-column': $parent.$parent.$last,
              'sorted-column': ($index === sortableTableVS.getSortIndex()),
              'sorted-reverse': sortableTableVS.getSortReverse()}"
              data-ng-click="sortByColumn($index, $parent.$parent.$last)"
              colspan="{{::header.colspan}}"
              uib-tooltip="{{::getHeaderTitle(header)}}"
              tooltip-enable="{{::haveToolTip(header)}}"
              tooltip-placement="auto top"
              tooltip-append-to-body="true"
              style="white-space: nowrap;">
            <span ng-bind-html="::header.text | highlightWords"></span>
            <i data-ng-if="$parent.$parent.$last" class="fa fa-sort" aria-hidden="true"></i>
          </td>
        </tr>
        </thead>
        <tbody class="table-condensed datatable-body">
          <tr
              data-ng-repeat="row in rowsShown"
              on-finish-render="doneRendering()"
              class="stat-table-row"
              title="{{::row.name}}">
            <td
                data-ng-repeat="fieldData in row.data track by $index"
                class="scrollable"
                >{{::fieldData.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
