.stat-scroll-table {
  position: relative;

  table {
    border-collapse: separate;

    tr {
      td {
        border-right: 1px solid #ddd;
        font-size: 12px;
        line-height: 14px;
        padding: 7px;
        text-align: right;
        vertical-align: top;

        &.scrollable {
          margin: 0;
          white-space: nowrap;
        }
      }
    }

    thead {
      td {
        border-bottom-width: 1px;
        height: 30px;
        font-weight: 700;
        padding-right: 20px;
      }
    }

    tbody {
      td,
      tr {
        height: 33px;
      }
    }
  }

  .table-headers {
    float: left;
  }

  .headcol {
    text-align: left;
  }

  .marked {
    font-weight: bold;
  }

  .headcol-name {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (max-width: $screen-md-max) {
    .headcol-name,
    .table-headers {
      max-width: 34rem;
    }
  }

  @media (max-width: $screen-xs-max) {
    .headcol-name,
    .table-headers {
      max-width: 20rem;
    }
  }

  .scrolling {
    font-size: 12px;
    overflow-x: auto;
    overflow-y: visible;
    padding-bottom: 1px;
  }

  .scroll-table-alert {
    box-shadow: 0 0 100px 40px #fff;
    position: relative;
    text-align: center;

    .alert-warning {
      display: inline-block;
      margin-top: 10px;
    }
  }

  .sortable-column {
    cursor: pointer;

    &.sorted-column {
      border-bottom: 1px solid #000;

      .fa-sort::before {
        content: '\f0de';
      }

      &.sorted-reverse {
        .fa-sort::before {
          content: '\f0dd';
        }
      }
    }
  }

  .show-table {
    text-align: center;
    padding-bottom: 20px;
  }

  .spinner {
    margin: 10px 0 50px;
  }
}
