stat-cookie-banner {
  display: block;
}

.stat-cookie-banner {
  margin: 10px 10px 0;
  border: none;
}

.stat-cookie-banner .alert {
  max-width: inherit;
  margin-bottom: 0;
}
.stat-cookie-banner .container-fluid {
  padding: 0;
}