.stat-spinner {
  .css-spinner {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: rotate;
    animation-timing-function: linear;
    background-image: url('../assets/images/ajax-loader.gif');
    height: 32px;
    margin: 20px auto;
    width: 32px;
  }

  .spinner {
    left: 0;
    margin: 5% 0 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;

    #loading-message {
      margin-top: 10px;
      text-align: center;
    }
  }
}
