<div class="stat-settings">
  <div class="modal-header">
    <button class="close" data-dismiss="modal" data-ng-click="cancel()">×</button>
    <h4 class="modal-title" message key="settings.modal.title"></h4>
  </div>

  <div class="modal-body">

    <div ng-repeat="setting in settings">
      <h3>
        <span message key="{{::setting.title}}"></span>
        <span uib-tooltip="{{::setting.help}}">?</span>
      </h3>
      <span message key="{{::setting.description}}"></span>
      <input type="checkbox" ng-model="setting.value">
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-success" data-ng-click="save()">Spara</button>
    <button class="btn btn-default" data-dismiss="modal" data-ng-click="cancel()">Avbryt</button>
  </div>
</div>
