<div class="stat-settings">
  <div class="modal-header">
    <button class="close" data-dismiss="modal" data-ng-click="cancel()">×</button>
    <h4 class="modal-title" message key="settings.modal.title" disable-highlight-words="true"></h4>
  </div>

  <div class="modal-body">

    <div ng-repeat="setting in settings">
      <h3>
        <span message key="{{::setting.title}}" disable-highlight-words="true"></span>
        <i uib-tooltip="{{::setting.help}}" class="fa fa-question-circle"></i>
      </h3>
      <stat-toggle class="settings-checkbox"
                   value="setting.value"
                   toggle-id="{{::setting.id}}"></stat-toggle>
      <span message key="{{::setting.description}}" disable-highlight-words="true"></span>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-success" id="settings-save-btn" data-ng-click="save()">
      <i class="fa fa-spinner" data-ng-class="{'fa-spin': saving}" data-ng-show="saving"></i>
      Spara
    </button>
    <button class="btn btn-default" id="settings-close-btn" data-dismiss="modal" data-ng-click="cancel()">Avbryt</button>
  </div>
</div>
