<div class="row">
  <div class="col-xs-12 col-sm-9 graph-ingress pull-left">
    <a class="filter-link" id="chart-enhetsfilterinfo-trigger"
       data-ng-click="enhetsfilterShown = !enhetsfilterShown"
       data-ng-show="enhetsFilters">Sammanställning av enheter&nbsp;&#x25BE</a>
  </div>
  <ng-transclude></ng-transclude>
</div>

<div class="clearfix">
  <div class="pull-left filter-list" data-ng-if="enhetsFilters">
    <filter-list is-collapsed="!enhetsfilterShown" filters="enhetsFilters"></filter-list>
  </div>
</div>
