<div class="row">
  <div class="col-xs-12 col-sm-9 graph-ingress pull-left">
    <a class="hidden-print filter-link" id="chart-diagnosfilterinfo-trigger"
       data-ng-click="diagnosfilterShown = !diagnosfilterShown"
       data-ng-show="diagnosFilters">Diagnosfilter&nbsp;&#x25BE</a>
    <a class="hidden-print filter-link" id="chart-enhetsfilterinfo-trigger"
       data-ng-click="enhetsfilterShown = !enhetsfilterShown"
       data-ng-show="enhetsFilters">Enhetsfilter&nbsp;&#x25BE</a>
    <a class="hidden-print filter-link" id="chart-sjukskrivningslangdsfilterinfo-trigger"
       data-ng-click="sjukskrivningslangdsfilterShown = !sjukskrivningslangdsfilterShown"
       data-ng-show="sjukskrivningslangdsFilters">Sjukskrivningslängdsfilter&nbsp;&#x25BE</a>
    <a class="hidden-print filter-link" id="chart-aldersgruppfilterinfo-trigger"
       data-ng-click="aldergruppsfilterShown = !aldergruppsfilterShown"
       data-ng-show="aldersgruppFilters">Åldersgruppfilter&nbsp;&#x25BE</a>
  </div>
  <ng-transclude></ng-transclude>
</div>

<div class="clearfix">
  <div class="pull-left filter-list" data-ng-if="diagnosFilters">
    <filter-list is-collapsed="!diagnosfilterShown" filters="diagnosFilters"></filter-list>
  </div>

  <div class="pull-left filter-list" data-ng-if="enhetsFilters">
    <filter-list is-collapsed="!enhetsfilterShown" filters="enhetsFilters"></filter-list>
  </div>

  <div class="pull-left filter-list" data-ng-if="sjukskrivningslangdsFilters">
    <filter-list is-collapsed="!sjukskrivningslangdsfilterShown" filters="sjukskrivningslangdsFilters"></filter-list>
  </div>

  <div class="pull-left filter-list" data-ng-if="aldersgruppFilters">
    <filter-list is-collapsed="!aldergruppsfilterShown" filters="aldersgruppFilters"></filter-list>
  </div>
</div>
