<div class="send-feedback">
  <button class="btn btn-default send-feedback-btn" id="sendFeedBackBtn">Tyck till</button>
</div>

<script type="text/javascript" src="https://inera-certificate.atlassian.net/s/dcd9b8dc10cbb5ad653b3b2e2470ba9a-T/-volj38/100011/c/1000.0.8/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=df8b5e49"></script>
<script type="text/javascript">
  window.ATL_JQ_PAGE_PROPS =  {
    "triggerFunction": function(showCollectorDialog) {
      //Requires that jQuery is available!
      jQuery("#sendFeedBackBtn").click(function(e) {
        e.preventDefault();
        showCollectorDialog();
      });
    },
    fieldValues: {
      summary: 'Feedback från statistik'
    }
  };
</script>
