<div class="container-fluid" id="landsting-upload-agreement-page" data-ng-if="!fileUploadAgreementAccepted">
  <h1>Filuppladdning</h1>
  <p>Denna sida ser du eftersom du har behörighet för hela vårdgivaren {{vgName}}.</p>
  <p>För att din region ska kunna använda regionsstatistiken behöver du (eller någon annan med samma behörighet som du) rapportera in vilka vårdenheter som ingår i regionen, det inkluderar även privata vårdgivare med regionsavtal. Detta gör du genom att ladda upp en excel-fil som innehåller namn och HSA-id på de vårdenheter som ska ingå.</p>
  <p>Mer utförliga instruktioner för hur du administrerar listan av enheter finns här: <span dynamiclink key="administrationAvLandsting"></span></p>
  <p>För att komma vidare till sidan för filuppladdning behöver du först intyga följande:</p>

  <div class="checkbox">
    <label for="agreementAcceptedChecked" style="padding-left: 24px;">
      <input type="checkbox" ng-model="agreementAcceptedChecked" id="agreementAcceptedChecked" style="margin-top: 2px; margin-left: -24px" />

      Jag intygar härmed på regionens vägnar att de <b>privata vårdenheter</b> som anges i min uppladdade fil
      <ul>
        <li>har avtal med regionen,</li>
        <li>har informerats om att regionen avser att instruera Inera att göra deras statistik tillgänglig för regionen, och</li>
        <li>har inte motsatt sig tillgängliggörandet.</li>
      </ul>
    </label>
  </div>
  <button id="agreementButton" data-ng-disabled="!agreementAcceptedChecked" class="btn btn-default" data-ng-click="acceptFileUploadAgreement()">Gå vidare</button>
</div>

<div class="container-fluid" id="landsting-upload-page" data-ng-if="fileUploadAgreementAccepted">
  <div id="about-content">
    <section>
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <h1 style="margin-bottom: 0px;">Filuppladdning</h1>
          <p>För att rapportera in vilka vårdenheter som ingår i din region behöver du fullfölja följande steg:</p>
          <ol>
            <li>Ladda ner en av följande Excel-mallar:
              <ul>
                <li><a data-ng-href="{{prepopulatedLandstingFileUrl}}">Fil som är förifylld med de vårdenheter som Intygsstatistik känner till inom din vårdgivare (Excel)</a></li>
                <li><a data-ng-href="{{emptyLandstingFileUrl}}">Tom fil (Excel)</a></li>
              </ul>
            </li>
            <li>Ange följande för alla de vårdenheter som som ska ingå i regionsstatistiken:
              <ol type="a">
                <li>Vårdenhetsnamn</li>
                <li>HSA-id för vårdenhet</li>
                <li>Antal listade patienter i arbetsför ålder (om tillämpligt)</li>
              </ol>
            </li>
            <li>Spara filen på din dator.</li>
            <li>Ladda upp filen här nedanför.</li>
            <li>Regionsstatistiken visas nu för de angivna enheterna.</li>
          </ol>

          <p>För att uppdatera vilka enheter som ingår i regionsstatistiken eller enheternas listningar, redigerar du filen och laddar upp den på nytt. Det är alltid informationen i den senast uppladdade filen som gäller.</p>
          <p>Mer utförliga instruktioner för hur du administrerar listan av enheter finns här: <span dynamiclink key="administrationAvLandsting"></span></p>
        </div>
      </div>
    </section>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div id="uploadZone" class="jumbotron dropzone" dropzone="dropzoneConfig" ng-class="{'dropzone-drag': draggingIt}">
        <uib-progressbar data-ng-if="uploading" class="progress-striped active" value="uploadProgress"></uib-progressbar>
        <div class="row dz-message">
          <div class="col-md-5 col-md-push-3 dropzone-info-area">
            <span ng-show="!uploadCompleted" class="glyphicon glyphicon-plus-sign"
                    ng-class="{'glyphicon-plus-sign-drag': draggingIt}"></span>
            <span ng-show="uploadCompleted" class="glyphicon"
                    ng-class="{'glyphicon-ok-sign': uploadSuccess, 'glyphicon-warning-sign': !uploadSuccess}"></span>

            <div data-ng-if="uploadCompleted && !uploadSuccess">
              <h5 message key="alert.upload.failed"></h5>
              <h5>{{uploadResultMessage}}</h5>
              <h5>
                <a message key="info.upload.dropfile.here"></a>
              </h5>
            </div>

            <h5 data-ng-if="!uploading && !uploadCompleted">
              <a message key="info.upload.dropfile.here"></a>
            </h5>

            <div data-ng-if="uploadCompleted && uploadSuccess">
              <h5 message key="alert.upload.success"></h5>
              <h5>
                <a message key="info.upload.dropfile.here"></a>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div id="fallbackUploadZone" style="display: none;">
        <form method="POST" action="{{uploadUrl}}" enctype="multipart/form-data" class="dropzone" style="padding: 12px;">
          <span message key="info.upload.fallbackText"></span>
          <input type="file" name="file" /> <br />
          <input type="hidden" name="fallbackUpload" value="true">
          <input type="submit" value="Ladda upp filen" class="btn btn-primary" />
        </form>
      </div>
    </div>
  </div>

  <div>
    <h2><b>Senaste händelse: </b></h2>{{lastLandstingUpdateMessage}}
  </div>

  <br/>
  <button class="btn btn-default" confirm-click confirmed-click-action="clearLandstingEnhets()"
        confirm-message="Rapporter för regionsstatistik kommer inte vara tillgängliga ifall du rensar. Vill du verkligen rensa data?">Rensa data</button>
  <br/>
  <div data-ng-show="parsedRows">
    <div>
      <h2><b>Just nu finns följande information inrapporterad till regionsstatistiken:</b></h2>
    </div>
    <div data-ng-repeat="row in parsedRows">{{row}}</div>
  </div>
  <br/>
</div>
