<div class="node" ng-class="{'depth0': depth ===0, 'depth1': depth ===1, 'depth2': depth ===2, 'leaf': !(item.subs && item.subs.length >0)}" ng-click="recursionhelper.hideclick(item, $event)">
    <span class="indenter"></span>
    <input type="checkbox" ng-checked="item.allSelected" intermediate="item.someSelected" ng-click="recursionhelper.itemclick(item, $event)"/>

    <span ng-click="recursionhelper.itemclick(item, $event)" class="ellipsis-text">
      {{::item.name}}
    </span>
    <span ng-click="recursionhelper.hideclick(item, $event);" class="submenuicon glyphicon" ng-class="{'glyphicon-chevron-up': item.showChildren, 'glyphicon-chevron-down': !item.showChildren}"></span>

</div>

  <div data-ng-if="item.subs && item.showChildren">
    <div class="node-parent" data-ng-init="depth=depth+1" data-ng-repeat="item in item.subs">
      <submenu item="item" itemroot="itemroot" depth="depth" recursionhelper="recursionhelper" ng-hide="item.hide" ng-class="{'leaf': !(item.subs && item.subs.length >0)}" class="depth{{depth}}"></submenu>
    </div>
  </div>
