<span ng-click="recursionhelper.hideclick(item)" class="ellipsis-text">
  <span class="submenuicon glyphicon" ng-class="{'glyphicon-minus-sign': !item.hideChildren, 'glyphicon-plus-sign': item.hideChildren}"/>
  <span bindonce="item.name"></span>
</span>

<input type="checkbox" ng-checked="item.allSelected" intermediate="item.someSelected" ng-click="recursionhelper.itemclick(item)"/>
<ul ng-init="item.hideChildren=true" ng-show="item.subs && !item.hideChildren" style="list-style-type: none;">
  <li data-ng-init="depth=depth+1" data-ng-repeat="item in item.subs">
    <submenu item="item" itemroot="itemroot" depth="depth" recursionhelper="recursionhelper" ng-hide="item.hide" ng-class="{leaf: !item.subs}" class="depth{{depth}}"></submenu>
  </li>
</ul>