<label message key="comparediagnoses.choose-level"></label><br>
<div class="radio-button-group">
  <div class="radio">
    <label>
      <input id="comparediagnoses-level-chapter" type="radio" data-ng-model="vm.level" data-ng-value="vm.diagnoses.chapter" />
      <span class="radio-text" message key="comparediagnoses.level.chapter"></span>
    </label>
  </div>
  <div class="radio">
    <label>
      <input id="comparediagnoses-level-section" type="radio" data-ng-model="vm.level" data-ng-value="vm.diagnoses.section" />
      <span class="radio-text" message key="comparediagnoses.level.section"></span>
    </label>
  </div>
  <div class="radio">
    <label>
      <input id="comparediagnoses-level-category" type="radio" data-ng-model="vm.level" data-ng-value="vm.diagnoses.category" />
      <span class="radio-text" message key="comparediagnoses.level.category"></span>
    </label>
  </div>
  <div class="radio">
    <label>
      <input id="comparediagnoses-level-code" type="radio" data-ng-model="vm.level" data-ng-value="vm.diagnoses.code" />
      <span class="radio-text" message key="comparediagnoses.level.code"></span>
    </label>
  </div>
</div>

<tree-multi-selector menu-options="vm.diagnosisTreeFilter.diagnosisOptionsTree"
                     done-clicked="vm.diagnosisSelected"
                     on-open="vm.diagnosisTreeFilter.setPreselectedFilter"
                     button-icon="fa-stethoscope"
                     max-depth="vm.level"
                     text-data="vm.diagnosisSelectorData"
                     select-all-text-key="lbl.filter.val-av-diagnoser.select-all"
                     search-hint-text-key="lbl.filter.val-av-diagnoser.search.hint"
                     ignore-chars-in-search="."
                     sidebar-state="{collapsed: true}"
                     min-selections="1"
                     max-selections="{{vm.maxSelectedDxs}}">
</tree-multi-selector>
