compare-diagnosis-selection {
  margin-top: 20px;

  label {
    font-size: 13px;
  }

  .radio {
    margin-top: 0;

    + .radio {
      margin-bottom: 15px;
    }

    .radio-text {
      padding-top: 2px;
      display: inline-block;
    }
  }
}
