<div id="business-overview">
	<div data-ng-if="showEmptyDataView">
		<div class="container-fluid">
			<div class="row">
				<div class="overview-content">
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
						<h1 style="margin-bottom: 0">Sökningen resulterade i ett tomt resultat.</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9" data-ng-repeat="resultMessage in resultMessageList">
					<show-message type="resultMessage.type" severity="resultMessage.severity" text="resultMessage.message"></show-message>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="!showEmptyDataView">
		<div id="overview-content"> <!-- Start: Overview content -->
			<div class="clearfix">
				<div class="pull-left right-2px-padding">
					<h1 class="national-statistic-h1" id="reportHeader">
						<span>{{::subTitle}}</span>
						<span>{{subTitlePeriod}}</span>
					</h1>
				</div>
			</div>

			<show-help-text texts="chartFootnotes"></show-help-text>

			<show-filter-list enhets-filters="activeEnhetsFilters">
				<div class="pull-right print-button">
					<!-- PRINT BUTTON -->
					<button class="btn btn-default" data-ng-click="printPdf()">
						<span message key="button.label.save-as-pdf"></span>
					</button>
				</div>
				<div class="spinner-overview" data-ng-if="generatingPdf">
					<div spinner label="Skapar pdf" show-spinner="generatingPdf"></div>
				</div>
			</show-filter-list>

			<!-- Alert the user about specific conditions -->
			<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-repeat="resultMessage in resultMessageList">
						<show-message type="resultMessage.type" severity="resultMessage.severity" text="resultMessage.message"></show-message>
					</div>
			</div>

			<div dataerrorview show-error="dataLoadingError">
				<div spinner label="{{::spinnerText}}" show-spinner="!doneLoading" show-content="doneLoading">
					<!-- Start business overview boxes -->
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 left-2px-padding right-2px-padding">
							<a data-ng-href="{{::baseUrl}}/sjukfallPerManad{{queryString}}" id="casesPerMonthProportionPerSexLink" class="overview-widget-link">
								<div class="overview-widget" >
									<div class="overview-widget-header">
										<h2 class="overview-widget-title">
											<span message key="business.widget.header.konsfordelning-sjukfall"></span>
											<span class="page-help-tool-tip pull-right">
										<i class="fa fa-question-circle"
											 uib-tooltip-html="popoverTextSexDistribution"
											 tooltip-class="popover-content"
											 tooltip-append-to-body="true"
											 tooltip-trigger="mouseenter"
										></i>
									</span>
										</h2>
									</div>
									<div class="overview-widget-content img-responsive">
										<p class="overview-distribution-per-sex-values">
											<span>{{casesPerMonthFemaleProportion}} % </span>
											<span>{{casesPerMonthMaleProportion}} % </span>
										</p>
										<img id="overview-distribution-per-sex-image" class="center-block" src="/assets/images/distribution_sex_stat.png"/>
									</div>
								</div>
							</a>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 left-2px-padding right-2px-padding">
							<a data-ng-href="{{::baseUrl}}/sjukfallPerManad{{queryString}}" id="casesPerMonthProportionPerSexLinkOld" class="overview-widget-link">
								<overview-widget title-key="business.widget.header.total-antal"
																 tooltip-content="popoverTextAmount"
																 chart-id="alterationChart"
																 options="alterationChartOptions">
								</overview-widget>
							</a>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 left-2px-padding right-2px-padding">
							<a data-ng-href="{{::baseUrl}}/diagnosgrupp{{queryString}}" id="diagnosisGroupsHeaderLink" class="overview-widget-link">
								<overview-widget title-key="business.widget.header.fordelning-diagnosgrupper"
																 tooltip-content="popoverTextDiagnosisGroups"
																 chart-id="diagnosisChart"
																 options="diagnosisDonutChartOptions"
																 groups="diagnosisGroups"
																 column-title1="overview.widget.table.column.diagnosgrupp"
																 column-title2="overview.widget.table.column.antal"
																 column-title3="overview.widget.table.column.forandring">
								</overview-widget>
							</a>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 left-2px-padding right-2px-padding">
							<a data-ng-href="{{::baseUrl}}/aldersgrupper{{queryString}}" id="ageGroupsHeaderLink" class="overview-widget-link">
								<overview-widget title-key="business.widget.header.fordelning-aldersgrupper"
																 tooltip-content="popoverTextAgeGroups"
																 chart-id="ageChart"
																 options="ageChartOptions"
																 groups="ageGroups"
																 column-title1="overview.widget.table.column.aldersgrupp"
																 column-title2="overview.widget.table.column.antal"
																 column-title3="overview.widget.table.column.forandring">
								</overview-widget>
							</a>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 left-2px-padding right-2px-padding">
							<a data-ng-href="{{::baseUrl}}/sjukskrivningslangd{{queryString}}" id="sickLeaveLengthHeaderLink" class="overview-widget-link">
								<div class="overview-widget">
									<div class="overview-widget-header">
										<h2 class="overview-widget-title">
											<span message key="business.widget.header.fordelning-sjukskrivningslangd"></span>
											<span class="page-help-tool-tip pull-right">
												<i class="fa fa-question-circle"
													 uib-tooltip-html="popoverTextSickLeaveLength"
													 tooltip-class="popover-content"
													 tooltip-placement="auto left"
													 tooltip-trigger="mouseenter"
												></i>
											</span>
										</h2>
									</div>
									<div class="overview-widget-content">
										<div class="overview-chart-info row" id="sicklength-chart-info">
												<div class="overview-chart-info-section pull-left">
													<span class="long-sick-leaves-value">{{::longSickLeavesTotal | thousandseparated}}</span><br/>
													<span class="longSickLeavesText"><span message key="overview.widget.fordelning-sjukskrivningslangd.overgar-90"></span></span>
												</div>
												<div class="overview-chart-info-section pull-right">
													<span class="long-sick-leaves-value">{{::longSickLeavesAlteration}} %</span><br/>
													<span class="longSickLeavesText"><span message key="overview.widget.fordelning-sjukskrivningslangd.overgar-90-3-manader"></span></span>
												</div>
										</div>
										<div class="chart-container" id="sickLeaveLengthChart"></div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 left-2px-padding right-2px-padding">
							<a data-ng-href="{{::baseUrl}}/sjukskrivningsgrad{{queryString}}" id="degreeOfSickLeaveHeaderLink" class="overview-widget-link">
								<overview-widget title-key="business.widget.header.fordelning-sjukskrivningsgrad"
																 tooltip-content="popoverTextDegreeOfSickLeave"
																 chart-id="degreeOfSickLeaveChart"
																 options="degreeOfSickLeaveChartOptions"
																 groups="degreeOfSickLeaveGroups"
																 column-title1="overview.widget.table.column.sjukskrivningsgrad"
																 column-title2="overview.widget.table.column.antal"
																 column-title3="overview.widget.table.column.forandring">
								</overview-widget>
							</a>
						</div>
					</div>
					<!-- End business overview boxes -->
				</div>
			</div>
		</div>
	<!-- End: Overview content -->
	</div> <!-- /container -->
</div>
