<div>
	<div class="container-fluid">
	    <div class="row">
	    	<div class="overview-content">
	    		<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
		        	<h1>Data saknas</h1>
		        </div>
		        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
		        	<p id="noAuth" class="alert alert-info">
						Ingen data finns tillgänglig för den valda verksamheten.
			    	</p>
		        </div>
		        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
		        	<span>
			    		Detta beror på att det inte finns någon inrapporterad data för den valda verksamheten i dagsläget. 
			    	</span>
		        </div>
	    	</div>
	    </div>
	</div>
</div>
