.select-vardgivare {
  .valj-vg-help {
    color: #006280;
    padding: 0;

    .glyphicon {
      font-size: 12px;
    }

    &:hover {
      color: #006280;
    }
  }

  ul {
    list-style-type: none;
    margin-bottom: 5px;
    padding: 10px 0;

    li {
      margin-bottom: 10px;

      a {
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }

      }
    }
  }
}
