<div class="container-fluid" id="about-content">
  <section id="region-about-page">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <h1 style="margin-bottom: 0;">Om regionstatistik</h1>

        <p>
          Regionstatistik är en funktion som gör det möjligt att följa upp ordinerad sjukskrivning på regionsnivå genom att samla statistik från både offentliga och privata vårdenheter som verkar inom regionen.
        </p>

        <h2>Behörighet</h2>
        <p>
          Alla som har behörighet att se statistik för minst en av de offentliga vårdenheterna i en region kan använda funktionen för att se statistik för sin region.
        </p>

        <p>
          Regionstatistiken är ett stöd både för personer med en central uppföljningsroll inom regionen och för enskilda verksamhetschefer som kan jämföra sin egen verksamhet med andra.
          Privata vårdgivare kan inte använda regionstatistik i dagsläget.
        </p>

        <h2>Administrering</h2>
        <p>
          Vilka vårdenheter som ska ingå i regionstatistiken avgörs av regionerna själva eftersom Inera, som driver Intygsstatistik, inte har någon kännedom om vilka privata vårdenheter som har avtal med vilka regioner.
        </p>

        <p>
          Respektive region ansvarar för att endast anmäla uppföljning av vårdenheter hos annan vårdgivare som regionen har ett samarbete med.
          Regionen ansvarar även för att på egen hand informera anmälda vårdenheter om uppföljningen.
        </p>

        <p>
          Det är endast personer med Intygsstatistiks behörighet till en hel vårdgivare som har möjlighet att uppdatera tjänsten med information om vilka vårdenheter som ingår i deras region.
          Utan denna information går regionstatistiken inte att använda.
          Notera dock att det är frivilligt och upp till varje region att rapportera in vårdenheter och därmed använda regionstatistiken.
        </p>

        <p>
          Verksamhetsstatistiken och den nationella statistiken fungerar oberoende av om regionstatistiken används.
        </p>

        <h2>Tröskelvärde</h2>
        <p>
          Eftersom vårdenheterna som följs upp i regionstatistiken både kan vara offentliga och privata och därmed omfattas av lagstadgad sekretess, presenteras statistiken avidentifierad och tröskelvärden appliceras så att inga patientidentiteter kan röjas.
          Tröskelvärden betyder att om en post i statistiken innehåller färre än fem sjukfall visas inte dessa sjukfall upp.
        </p>
      </div>
    </div>
  </section>
</div>

