<div>
    <div class="container-fluid">
        <div class="row">
            <div class="overview-content">
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                    <h1>Sökningen resulterade i ett tomt resultat.</h1>
                    <p>
                        Sökningen returnerade inget data. Det kan bero på att det inte finns någon data för verksamheten eller att du har angivit en alltför restriktiv filtrering.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
