<div data-ng-if="haveChips" class="divider" style="margin-bottom: 0"></div>

<div data-ng-if="haveChips" class="filter-level">
  <div class="col-xs-12">
    <span
        data-ng-repeat="chip in shownChips"
        data-ng-click="removeChip(chip)"
        class="filter-chip"
        data-ng-class="{inactive: chip.newFilter}"
        title="{{::chip.text}}">
      <span class="default-text">
        <i class="fa {{::chip.icon}}"></i> {{::chip.text}}
      </span>
      <span class="remove-filter">
        <i class="fa fa-times"></i> Ta bort
      </span>
    </span>

    <button
        data-ng-if="numberOfChipsNotShown > 0"
        class="btn btn-link show-all-filter"
        data-ng-click="showAll()">{{numberOfChipsNotShown}} filter till</button>
  </div>
</div>

