filter-chips {
  .filter-chip {
    background: #e0e0e0;
    border: 1px solid #e0e0e0;
    border-radius: 40px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    max-width: 200px;
    min-width: 85px;
    overflow: hidden;
    padding: 5px 10px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;

    .filter-hover {
      background: #e0e0e0;
      display: none;
      left: 0;
      overflow: hidden;
      padding: 5px 10px;
      position: absolute;
      text-overflow: ellipsis;
      top: 0;
      white-space: nowrap;
      width: 100%;
    }

    &:hover,
    &:active,
    &:focus {
      border: dotted #646565 1px;
    }

    &:active:focus {
      border-style: solid;
    }

    &:hover {
      cursor: pointer;

      .remove-filter {
        display: block;
      }
    }

    &.inactive,
    &.removed {
      background: none;

      .default-text {
        color: #7e7e7f;
      }

      .remove-filter,
      .undo-remove-filter {
        background: #f7f7f9;
      }
    }

    &.removed {
      .default-text {
        text-decoration: line-through;
      }

      &:hover {
        .remove-filter {
          display: none;
        }

        .undo-remove-filter {
          display: block;
        }
      }
    }

    &.ng-leave {
      opacity: 1;
      transition: .3s;

      &.ng-leave-active {
        opacity: 0;
      }
    }
  }

  .show-all-filter {
    padding-left: 0;
    vertical-align: top;
  }
}
