filter-chips {
  .filter-chip {
    padding: 5px 10px;
    background: #e0e0e0;
    display: inline-block;
    border-radius: 40px;
    border: 1px solid #e0e0e0;
    margin-right: 10px;
    margin-top: 10px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    vertical-align: top;
    text-align: left;
    min-width: 85px;

    .filter-hover {
      position: absolute;
      display: none;
      background: #e0e0e0;
      padding: 5px 10px;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis
    }

    &:hover, &:active, &:focus {
      border: dotted #646565 1px;
    }

    &:active:focus {
      border-style: solid;
    }

    &:hover {
      cursor: pointer;

      .remove-filter {
        display: block;
      }
    }

    &.inactive, &.removed {
      background: none;

      .default-text {
        color: #7e7e7f;
      }

      .remove-filter, .undo-remove-filter {
        background: #f7f7f9;
      }
    }

    &.removed {
      .default-text {
        text-decoration: line-through;
      }

      &:hover {
        .remove-filter {
          display: none;
        }

        .undo-remove-filter {
          display: block;
        }
      }
    }

    &.ng-leave{
      transition: 0.3s;
      opacity: 1;

      &.ng-leave-active {
        opacity: 0;
      }
    }
  }

  .show-all-filter {
    vertical-align: top;
    margin-top: 8px;
    padding-left: 0;
  }
}
