<!DOCTYPE html>
<html lang="sv" id="ng-app" data-ng-app="StatisticsApp">
<head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/assets/images/favicon.ico">

    <title data-ng-bind="$root.pageTitle">Statistiktjänsten</title>

    <!-- build:css(src/main/webapp) app/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="bower_components/outdated-browser/outdatedbrowser/outdatedbrowser.min.css" />
    <link rel="stylesheet" href="bower_components/dropzone/dist/min/dropzone.min.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />

    <!-- build:css({build/.tmp,src/main/webapp}) app/app.css -->
    <!-- injector:css -->
    <link rel="stylesheet" href="/app/app.css">
    <!-- endinjector -->
    <!-- endbuild -->
</head>
<body data-ng-controller="pageCtrl">
  <highlight-words></highlight-words>

  <stats-header
      is-logged-in="isLoggedIn"
      page-header-verksamhet-name="pageHeaderVerksamhetName"
      show-businesses-details="showBusinessesDetails"
      vg-name="vgName"
      login-clicked="loginClicked()"
      change-vg="changeVardgivare(vgId)"
    ></stats-header>

  <stat-cookie-banner></stat-cookie-banner>

  <div id="sidebar-wrapper" class="sidebar-wrapper hidden-xs pull-left" ng-cloak>
    <navigation-menu login-visible="AppModel.get().loginVisible" query-string="queryString"></navigation-menu>
  </div>

  <navigation-menu class="hidden-sm hidden-md hidden-lg" is-mobile="true" query-string="queryString" login-visible="AppModel.get().loginVisible" login-clicked="loginClicked()"></navigation-menu>

  <div class="container-fluid page-content-wrapper">
    <business-filter data-ng-if="isVerksamhetShowing" id="businessFilterContainer" ng-cloak></business-filter>

    <landsting-filter data-ng-if="isLandstingShowing" id="landstingFilterContainer" ng-cloak></landsting-filter>

    <div class="row content-wrapper" ng-cloak>
      <div class="col-xs-12">
        <div id="view" data-ng-view></div>
      </div>
    </div>
  </div>

<!-- Scripts -->
<!-- Placed at the end of the document so the pages load faster -->
  <!-- build:js({src/main/webapp,node_modules}) app/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-i18n/angular-locale_sv-se.js"></script>
  <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
  <script src="bower_components/outdated-browser/outdatedbrowser/outdatedbrowser.min.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/momentjs/moment.js"></script>
  <script src="bower_components/dropzone/dist/min/dropzone.min.js"></script>
  <script src="bower_components/ngstorage/ngStorage.js"></script>
  <script src="bower_components/highcharts/highcharts.js"></script>
  <script src="bower_components/highcharts/modules/exporting.js"></script>
  <script src="bower_components/highcharts/modules/offline-exporting.js"></script>
  <script src="bower_components/highcharts/highcharts-more.js"></script>
  <!-- endbower -->
  <!-- canvg:js -->
  <!--
    Beroendet till canvg har lagts till manuellt och inte via Bower för
    att få med en buggrättning som gör att PDFer skapade i MSEdge fungerar.
    Beroendet bör ske via Bower igen när canvg släppts i version 1.5 eller högre.
  -->
  <script src="js/lib/StackBlur.js"></script>
  <script src="js/lib/rgbcolor.js"></script>
  <script src="js/lib/canvg.js"></script>
  <!-- endcanvg -->
  <!-- pdkmakedist:js -->
  <!--
    Beroendet till pdfmake-dist har lagts till manuellt och inte via Bower
    eftersom pdfmake-dist inte längre finns tillgänglig i github. pdfmake
    (originalet) ska enligt uppgift vara uppdaterad med fixarna från
    pdfmake-dist, men för att vara på den säkra sidan i hotfix-releasen så
    används samma version som tidigare på detta manuella sätt.
  -->
  <script src="js/lib/pdfmake-dist/pdfmake.min.js"></script>
  <!-- endpdfmakedist -->
  <!-- endbuild -->

  <script src="bower_components/pdfmake/build/pdfmake.min.js"></script>
  <script defer src="js/lib/vfs_fonts.js"></script>

  <!-- build:js({build/.tmp,src/main/webapp}) app/app.main.js -->
  <script src="app/app.main.js"></script>
  <!-- injector:js -->
  <script src="/app/app.config.js"></script>
  <script src="/app/app.constant.js"></script>
  <script src="/app/app.routes.js"></script>
  <script src="/app/app.run.js"></script>
  <script src="/app/app.underscore.js"></script>
  <script src="/app/controller/about/aboutFaqCtrl.js"></script>
  <script src="/app/controller/business/businessOverviewCtrl.js"></script>
  <script src="/app/controller/business/selectVgCtrl.js"></script>
  <script src="/app/controller/columnChartDetailsViewCtrl.js"></script>
  <script src="/app/controller/doubleAreaChartsCtrl.js"></script>
  <script src="/app/controller/fakeLoginCtrl.js"></script>
  <script src="/app/controller/landsting/landstingFileUploadCtrl.js"></script>
  <script src="/app/controller/loginCtrl.js"></script>
  <script src="/app/controller/overviewCtrl.js"></script>
  <script src="/app/controller/pageCtrl.js"></script>
  <script src="/app/controller/singleLineChartCtrl.js"></script>
  <script src="/app/messages.js"></script>
  <script src="/app/shared/businessfilter/businessFilterDirective.js"></script>
  <script src="/app/shared/businessfilter/businessFilterFactory.js"></script>
  <script src="/app/shared/businessfilter/businessFilterModule.js"></script>
  <script src="/app/shared/resources/constantsModule.js"></script>
  <script src="/app/shared/treemultiselector/modal/modal.controller.js"></script>
  <script src="/app/shared/treemultiselector/treeMultiSelectorCtrl.js"></script>
  <script src="/app/shared/treemultiselector/treeMultiSelectorModule.js"></script>
  <script src="/app/shared/treemultiselector/treeMultiSelectorUtil.js"></script>
  <script src="/app/shared/treemultiselector/treemultiselectorDirective.js"></script>
  <script src="/components/directives/angular-dropzone/dropzone.directive.js"></script>
  <script src="/components/directives/compile/compile.directive.js"></script>
  <script src="/components/directives/confirmClick/confirmClick.directive.js"></script>
  <script src="/components/directives/dataerrorview/dataerrorview.directive.js"></script>
  <script src="/components/directives/diagnosSelection/diagnosSelection.directive.js"></script>
  <script src="/components/directives/dynamiclink/dynamiclink.directive.js"></script>
  <script src="/components/directives/filterChips/filterChips.directive.js"></script>
  <script src="/components/directives/filterChips/modal/modal.controller.js"></script>
  <script src="/components/directives/filterChipsList/filterChips.directive.js"></script>
  <script src="/components/directives/filterList/filterList.directive.js"></script>
  <script src="/components/directives/header/header.directive.js"></script>
  <script src="/components/directives/highlightWords/highlightWords.directive.js"></script>
  <script src="/components/directives/intermediate/intermediate.directive.js"></script>
  <script src="/components/directives/legendHeight/legendHeight.directive.js"></script>
  <script src="/components/directives/message/message.directive.js"></script>
  <script src="/components/directives/navigationMenu/navigationMenu.directive.js"></script>
  <script src="/components/directives/navigationaware/navigationaware.directive.js"></script>
  <script src="/components/directives/onFinishRender/onFinishRender.directive.js"></script>
  <script src="/components/directives/overviewWidget/overviewWidget.directive.js"></script>
  <script src="/components/directives/selectVardgivare/selectVardgivare.directive.js"></script>
  <script src="/components/directives/selectVardgivareModal/modal/modal.controller.js"></script>
  <script src="/components/directives/selectVardgivareModal/selectVardgivareModal.directive.js"></script>
  <script src="/components/directives/showBusinesses/modal/modal.controller.js"></script>
  <script src="/components/directives/showBusinesses/showBusinesses.directive.js"></script>
  <script src="/components/directives/showFilterList/showFilterList.directive.js"></script>
  <script src="/components/directives/showHelpText/showHelpText.directive.js"></script>
  <script src="/components/directives/showMessage/showMessage.directive.js"></script>
  <script src="/components/directives/sortableTable/sortableTable.directive.js"></script>
  <script src="/components/directives/spinner/spinner.directive.js"></script>
  <script src="/components/directives/statCookieBanner/statCookieBanner.directive.js"></script>
  <script src="/components/directives/statScrollTable/statScrollTable.directive.js"></script>
  <script src="/components/directives/submenu/submenu.directive.js"></script>
  <script src="/components/directives/yearMonthInputLimiter/yearMonthInputLimiter.js"></script>
  <script src="/components/filters/highlightWordsFilter/highlightWords.filter.js"></script>
  <script src="/components/filters/messageFilter/message.filter.js"></script>
  <script src="/components/filters/replaceEmpty/replaceEmpty.filter.js"></script>
  <script src="/components/filters/thousandseparated/thousandseparated.filter.js"></script>
  <script src="/components/models/app.model.js"></script>
  <script src="/components/models/staticfilterdata.model.js"></script>
  <script src="/components/models/user.model.js"></script>
  <script src="/components/services/app.service.js"></script>
  <script src="/components/services/charts/chartFactory.js"></script>
  <script src="/components/services/diagnosisTreeFilter.js"></script>
  <script src="/components/services/dynamicLink.service.js"></script>
  <script src="/components/services/factories.js"></script>
  <script src="/components/services/messageService.js"></script>
  <script src="/components/services/pdfFactory.js"></script>
  <script src="/components/services/pdfOverviewFactory.js"></script>
  <script src="/components/services/staticFilterData.service.js"></script>
  <script src="/components/utils/common.js"></script>
  <!-- endinjector -->
  <!-- endbuild -->

  <script type="text/javascript">
    $('.dropdown-toggle').dropdown();
  </script>

  <!-- This sections will give users of not so modern browsers a message that their browser is too old to run this thing. -->
  <div id="outdated" class="outdated-browser">
    <h1><b>Din webbläsare stöds inte av Statistiktjänsten och det kan göra att den inte fungerar korrekt.</b></h1>
    <h1><b>Statistiktjänsten stöds av Internet Explorer 11 och nyare, även om andra webbläsare kan fungera.</b></h1>
    <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
    <!-- It seems like a div called btnUpdateBrowser need to exist, otherwise the outdated browser plugin will bug us with console warning messages on every reload -->
    <div id="btnUpdateBrowser" style="display: none;"></div>
  </div>

  <script type="text/javascript">
    function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
            window.onload = func;
        } else {
            window.onload = function() {
                if (oldonload) {
                    oldonload();
                }
                func();
            }
        }
    }
    //call plugin function after DOM ready
    addLoadEvent(function(){
        outdatedBrowser({
            bgColor: '#31708F',
            color: '#ffffff',
            lowerThan: 'IE11',
            languagePath: ''
        })
    });
  </script>
</body>
</html>
