.show-businesses {
  font-weight: normal;

  a:hover {
    text-decoration: underline;
  }

  .enhets-modal {
    color: #333;

    ul {
      list-style-type: disc;
      margin-bottom: 2px;
    }

    .modal-body {
      p {
        text-align: left;
      }
    }
  }
}
