<div class="row-fluid" id="about-contact-page">
	<div id="about-content">
		<section>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<h1>Kontakt till Inera Support</h1>
					<p>Vänd dig till Inera Support om du har problem med att använda Intygsstatistik.</p>
					<p>Du kan också kontakta Inera Support om du har frågor eller synpunkter på tjänsten.</p>
					<p><span dynamiclink key="ineraKundserviceFelanmalan"></span></p>
				</div>
			</div>
		</section>
	</div>
</div>
