<div class="row-fluid" id="about-login-page">
	<div id="about-content">
		<section>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<h1>Inloggning och behörighet</h1>
					<p>För att personal inom hälso- och sjukvården ska kunna se statistik för sin vårdgivare eller sin vårdenhet krävs behörighet att logga in. Intygsstatistik använder säker inloggning med SITHS/Efos-kort. Dessutom behöver användaren ha ett medarbetaruppdrag med ändamål statistik i HSA om man vill kunna se mer detaljerad statistik på verksamhetsnivå. Det är upp till verksamhetschefen för varje vårdenhet att besluta vem som ska ha tillgång till statistiken och det är bara HSA-administratören som kan skapa medarbetaruppdrag.</p>
					<p>Den nationella statistiken är tillgänglig för alla och kräver ingen inloggning.</p>
		
					<p><span dynamiclink key="sarskildBehorighetStatistik"></span></p>
				</div>
			</div>
		</section>
	</div>
</div>
