/************* FILTER STYLES ONLY *********************/

#actions-for-filter .btn {
  margin-left: 5px;
}

label.btn {
  font-size: 14px;
}

.form-control {
  height: 30px;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary {
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;
}

.filterbtnactivefilter {
  background-color: #EA8025 !important;
}

.filterbtnactivefilter:hover {
  background-color: rgba(234, 128, 37, 0.80) !important;
}

#show-hide-filter-btn {
  background-color: #008391;
  border-radius: 0 0 5px 5px;
  border-top: 0;
  box-shadow: 0 3px 4px 0 rgba(50, 50, 50, 0.2);
  color: #fff;
  padding: 5px 20px 5px 15px;
}

#show-hide-filter-btn:hover {
  background-color: #0195a5;
}

input[type="radio"],
input[type="checkbox"] {
  line-height: normal;
  margin: 4px 0 0;
  margin-top: 1px \9;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #3276b1;
  border-color: #285e8e;
  color: #fff;
}

.input-group {
  border-collapse: separate;
  display: table;
  position: relative;
}

.input-group-addon {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  padding: 5px 10px 5px 10px;
  text-align: center;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}

.multiselect-hideshow-list-item {
  cursor: pointer;
}

.multiselect-search {
  padding: 0 5px;
}

.multiselect-select-all-container {
  padding: 5px;
}

.multiselect-container a {
  padding: 0 !important;
}

.multiselect-container li.active a {
  color: #000 !important;
}

.search-all-items,
.select-all-items {
  line-height: 21px;
  text-align: right;
}

// STYLES FOR MULTI-MULTI
.ellipsis-text {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.submenuicon {
  &.glyphicon-chevron-up,
  &.glyphicon-chevron-down {
    cursor: pointer;
    float: right;
    font-size: 12px;
    margin-right: 5px;
    margin-top: 5px;
  }
}

#modal-body-left {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}

.border-right {
  border-right: 1px solid #ddd;
}

#modal-body-right {
  h2 {
    font-weight: bold;
    margin: 0;
    padding: 0 0 10px;
  }
}

#verksamhet-uib-collapser {
  padding-top: 10px;
}

.check-permanent-filter-container {
  margin-top: 25px;
}

.multiselect-container > li > a > label {
  padding: 5px 20px 3px 40px;
}

.multiselect-container > li > a > label input {
  top: 1px !important;
}
