
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
}

input[type=checkbox],
input[type=radio] {
  height: 18px;
  width: 18px;
}

#sidebar-wrapper {
  width: 250px;
  padding-left: 15px;
}

.page-content-wrapper {

  @media (min-width: $screen-sm-min) {
    margin-left: 250px;
    padding-left: 30px;
  }
}

.content-wrapper {
  margin: 20px 0 15px;
}


.top-10px-margin {
  margin-top: 10px;
}

.filter-link {
  color: #0b0b0b;
}

// Adjust the inputbox size and font size for the datepicker
.input-group-sm.datepicker > .form-control,
.input-group-sm.datepicker > .input-group-addon,
.input-group-sm.datepicker > .input-group-btn > .btn {
  font-size: 14px;
  height: 34px;
}

// Change the way the buttons look in the ui.bootstrap.datepicker
.input-group.datepicker {

  .btn-info.active {
    background-color: rgb(153, 153, 158);
    border-color: rgb(153, 153, 158);
  }

  td .btn-default,
  th .btn-default {
    background-image: none;
    border-color: #fff;
    border-radius: 0;
    box-shadow: none;
  }

  .dropdown-menu {
    margin-top: 8px;

    &:before,
    &:after {
      -webkit-transform: rotate(360deg);
      border-color: transparent;
      border-style: solid;
      content: '';
      display: inline-block;
      height: 0;
      position: absolute;
      width: 0;
    }

    &:before {
      border-bottom-color: #ccc;
      border-bottom-color: rgba(0, 0, 0, 0.15);
      border-width: 0 7px 7px;
      left: 9px;
      top: -7px;
    }

    &:after {
      border-bottom-color: #fff;
      border-width: 0 6px 6px;
      left: 10px;
      top: -6px;
    }
  }

  &:focus, .uib-datepicker:focus, .uib-monthpicker:focus {
    outline: 0;
  }
}

.collapsible-panel-header {
  margin-top: 15px;
  display: block;

  i.glyphicon {
    color: #fff;
    font-size: 12px;
    float: left;
    margin: -16px;
    padding: 16px;

    &.collapsible-panel-min-icon {
      @extend .glyphicon-chevron-up;
      font-size: 1.1em;
    }

    &.collapsible-panel-expand-icon {
      @extend .glyphicon-chevron-down;
      font-size: 1.1em;
    }
  }

  .panel-heading {
    background: $stat-panel-header-from;
    background: linear-gradient(to bottom, $stat-panel-header-from 0%, $stat-panel-header-to 100%);
    color: #fff;
    padding: 12px 12px;
    font-size: 14px;
    line-height: 20px;
  }

  h4.panel-title {
    font-weight: bold;
    font-size: 14px;
  }

  .accordion-toggle {
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;

    &:focus {
      outline: 0;
    }
  }
  .btn-default {
    padding: 1px;
    margin-top: -2px;
  }
}

.collapsible-panel-body {
  border: 1px solid #f9f9f9;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f9f9f9;
}

.chart-table {
  .panel-body {
    padding: 0;
  }

  table {
    margin: 0;
  }

  .panel {
    border-color: transparent;
  }
}

.right-2px-padding {
  padding-right: 2px;
}

.left-2px-padding {
  padding-left: 2px;
}
