.highcharts-container {
  .tooltip-style {
    background: #fff;
    color: #000;
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 8px;

    .title {
      font-size: 11px;
    }
  }
}
