$left-container-width: 240px;

html,
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 0;
  min-height: 100vh;
}

.header {
  flex: 0;
}

.main-container {
  min-width: 0;
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}

.left-container {
  width: $left-container-width;
  background: $st-color-19;
}

.right-container {
  flex: 1;
  max-width: calc(100% - #{$left-container-width});
  box-shadow: inset 1px -1px 4px 0 rgba(0, 0, 0, 0.24);
}

@media (max-width: $screen-xs-max) {
  .main-container {
    flex-direction: column;
  }

  .right-container {
    max-width: 100%;
  }
}

