/** Padding-helpers below **/
.left-2px-padding { padding-left: 2px !important; }
.right-2px-padding { padding-right: 2px !important; }
.left-5px-padding { padding-left: 5px !important; }
.right-5px-padding { padding-right: 5px !important; }