@media print {
	body {	
	}
	@page {
		margin: 0.5cm;
	}
	.navbar,
	.footer,
	#statistics-menu-accordion,
	.national-statistic-h1,
	#pageHelpToolTip,
	.btn-group.statistics-btn-group,
	#chart-data-table .accordion-heading {
		display: none;
	}
	svg {
		width: 100%;
	}
	.print-pagebreak-before { page-break-before: always; }
	.print-pagebreak-after { page-break-after: always; }

	.data-table-print-header {
		display: block;
	}
	.print-url {
		display: block;
		float: left;
	}
	.print-current-time {
		display: block;
		float: right;
	}
	.rotate-print {
		/* Rotate div */
		/*-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		transform: rotate(270deg);*/
		
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		
		display: block;
    	position: relative;
    	top: 0;
    	left: 0;

	}
	.chart-table-body.in.collapse {
		border-left: 0px solid transparent;
		border-right: 0px solid transparent;
		border-bottom: 0px solid transparent;
	}
	
}