navigation-menu {
  display: block;
}

.statistics-menu {

  .dropdown-toggle {
    @extend %st-typo-08;
    padding: 10px;
    cursor: pointer;

    button {
      margin-top: -6px;
      margin-bottom: -6px;
      background: transparent;
      vertical-align: top;
    }
  }

  .dropdown-menu {
    padding: 0;
    border-radius: 0;
    min-width: 250px;
  }

  .statistics-menu-list {
    padding-bottom: 20px;
    margin-bottom: 0;
  }

  .menu-disabled {
    color: $st-color-23;
    cursor: not-allowed;
  }

  .menu-container {
    background: $st-color-19;
  }

  ul {
    background: $st-color-19;
    list-style-type: none;
    padding-left: 0;

    a {
      @extend %st-typo-08;

      display: block;
      margin-top: 8px;
      padding: 8px 2px 8px 10px;

      &:hover {
        background: $st-color-17;
        text-decoration: none;
      }
    }

    .active {
      > a {
        background: $st-color-26;

        &:hover {
          background: $st-color-17;
        }
      }
    }

    ul {
      a {
        @extend %st-typo-09;
        padding-left: 25px;
        margin-top: 0;
      }

      ul {
        a {
          @extend %st-typo-10;
          padding-left: 40px;
        }
      }
    }
  }

  .intygsskolan-link {
    @extend %st-typo-04;
    text-align: center;
    color: $st-color-47;

    i {
      display: inline;
    }

    a {
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    padding: 15px;
    border-radius: 4px;
    background: white;
    max-width: 250px;

    .external-link {
      white-space: normal;
      display: inherit;
    }

  }

  @media (min-width: $screen-sm-min) {
    .dropdown-menu {
      display: block;
      padding: 0;
      margin: 0;
      float: none;
      position: static;
      top: 100%;
      left: 0;
      min-width: 200px;
      z-index: 1;
      border: 0;
      box-shadow: none;
      border-radius: 0;
      width: 100%;
    }

    .intygsskolan-link {
      position: fixed;
      bottom: 0;
      max-width: 240px;
    }
  }

}

.statistict-left-menu-expand-icon {
  @extend .fa-chevron-up;

  cursor: pointer;
  float: right;
  margin-right: 5px;

  &.collapsed {
    @extend .fa-chevron-down;
  }
}
