<div class="container-fluid" id="about-content">
  <section id="landsting-about-page">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <h1 style="margin-bottom: 0px;">Om landstingsstatistik</h1>

        <p>Landstingsstatistik är en funktion som gör det möjligt att följa upp ordinerad sjukskrivning på
          landstingsnivå genom att samla statistik från både offentliga och privata vårdenheter som verkar inom
          landstinget.</p>

        <p>Det går också att jämföra antalet sjukfall i förhållande till antalet listningar på respektive vårdenhet
          i landstinget.</p>

        <h2>Behörighet</h2>

        <p>Alla som har behörighet att se statistik för minst en av de offentliga vårdenheterna i ett landsting kan
          använda funktionen för att se statistik för sitt landsting.</p>

        <p>Landstingsstatistiken är ett stöd både för personer med en central uppföljningsroll inom landstinget och
          för enskilda verksamhetschefer som kan jämföra sin egen verksamhet med andra. Privata vårdgivare kan inte
          använda landstingsstatistik i dagsläget.</p>

        <h2>Administrering</h2>

        <p>Vilka vårdenheter som ska ingå i landstingsstatistiken avgörs av landstingen själva eftersom Inera, som
          driver Statistiktjänsten, inte har någon kännedom om vilka privata vårdenheter som har avtal med vilka
          landsting.</p>

        <p>Respektive landsting ansvarar för att endast anmäla uppföljning av vårdenheter hos annan vårdgivare som
          landstinget har ett samarbete med. Landstinget ansvarar även för att på egen hand informera anmälda
          vårdenheter om uppföljningen.</p>

        <p>Det är endast personer med Statistiktjänstens behörighet till en hel vårdgivare (<a href="http://www.inera.se/sarskild_behorighet" target="_blank">klicka här</a> för mer
          information om behörigheter) som har möjlighet att uppdatera tjänsten med information om vilka vårdenheter
          som ingår i deras landsting. Utan denna information går landstingsstatistiken inte att använda. Notera
          dock att det är frivilligt och upp till varje landsting att rapportera in vårdenheter och därmed använda
          landstingsstatistiken.</p>

        <p>Verksamhetsstatistiken och den nationella statistiken fungerar oberoende av om landstingsstatistiken
          används.</p>

        <h2>Tröskelvärde</h2>

        <p>Eftersom vårdenheterna som följs upp i landstingsstatistiken både kan vara offentliga och privata och
          därmed omfattas av lagstadgad sekretess, presenteras statistiken avidentifierad och tröskelvärden
          appliceras så att inga patientidentiteter kan röjas. Tröskelvärden betyder att om en post i statistiken
          innehåller färre än fem sjukfall visas inte dessa sjukfall upp.</p>
      </div>
    </div>
  </section>
</div>

