<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright (C) 2019 Inera AB (http://www.inera.se)

    This file is part of statistik (https://github.com/sklintyg/statistik).

    statistik is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    statistik is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<configuration>
    <!-- logback config for the Openshift Container Platform (OCP). Stream to stdout, use layout and appenders from infra. -->

    <property name="APP_NAME" value="${APP_NAME:-statistik}"/>

    <include resource="logback-ocp-base.xml"/>

    <!-- ST Is not using IntygUser from infra -->
    <appender name="ST_MONITORING" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="se.inera.intyg.infra.monitoring.logging.MarkerFilter">
            <marker>Monitoring</marker>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${TIMESTAMP} [monitoring,${SESSION},${TRACE}] ${LINE}</pattern>
        </encoder>
    </appender>


    <logger name="org.apache.camel" level="WARN"/>
    <logger name="org.apache.activemq" level="WARN"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.core.env.PropertySourcesPropertyResolver" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.http" level="WARN"/>

    <logger name="se.inera.certificate.web" level="WARN"/>

    <logger name="org.springframework.security.saml.log" level="INFO" />
    <logger name="org.opensaml" level="INFO" />

    <!-- Enable logging of frontend activities -->
    <logger name="se.inera.statistics.web.service.endpoints.LoggingService" level="INFO">
        <appender-ref ref="FRONTEND" />
    </logger>

    <!-- Enable logging of processing status -->
    <logger name="se.inera.statistics.service.processlog.LogConsumerImpl" level="INFO" additivity="false">
        <appender-ref ref="PROCESS" />
    </logger>
    <logger name="se.inera.statistics.service.processlog.message.MessageLogConsumerImpl" level="INFO" additivity="false">
        <appender-ref ref="PROCESS" />
    </logger>
    <logger name="se.inera.statistics.service.hsa.HSAServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="PROCESS"/>
    </logger>
    <logger name="se.inera.statistics.service.helper.certificate.JsonDocumentHelper" level="INFO" additivity="false">
        <appender-ref ref="PROCESS"/>
    </logger>
    <logger name="se.inera.statistics.scheduler.active.LogJob" level="INFO"  additivity="false">
        <appender-ref ref="PROCESS"/>
    </logger>
    <logger name="se.inera.ifv.statistics.spi.authorization.impl.HSAWebServiceCalls" level="INFO"  additivity="false">
        <appender-ref ref="PROCESS"/>
    </logger>
    <logger name="se.inera.statistics.web.service.endpoints.ChartDataService" level="INFO"  additivity="false">
        <appender-ref ref="PROCESS"/>
    </logger>

    <!-- Enable logging of access status -->
    <logger name="se.inera.statistics.web.service.endpoints.ProtectedChartDataService" level="INFO" additivity="false">
        <appender-ref ref="ACCESS" />
    </logger>
    <logger name="se.inera.statistics.web.service.endpoints.ProtectedLandstingService" level="INFO" additivity="false">
        <appender-ref ref="ACCESS" />
    </logger>

    <!-- Enable monitoring logging -->
    <logger name="se.inera.statistics.web.service.monitoring" level="INFO" additivity="false">
        <appender-ref ref="ST_MONITORING" />
    </logger>

    <logger name="se.inera.statistics" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
