<div class="stat-cookie-banner-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" data-ng-click="cancel()">×</button>
        <h4 class="modal-title">Om kakor (cookies)</h4>
    </div>

    <div class="modal-body">
        <div class="row-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Så här använder vi kakor</h2>
                    <p>Den typ av kakor som används på den här webbplatsen kallas för sessionskakor. De lagras temporärt i din dators minne under tiden du är inne på webbplatsen. Sessionskakor sparar ingen personlig information om dig, och de försvinner när du stänger din webbläsare.</p>
                    <p>I den nationella delen av Intygsstatistik används sessionskakor för att möjliggöra uppföljning av hur tjänsten används, i syfte att kunna förbättra användarupplevelsen. I den delen av Intygsstatistik som kräver inloggning används kakor för att du ska kunna navigera i tjänsten utan att behöva logga in på nytt varje gång du går till en ny sida.</p>
                    <h2>Undvika kakor</h2>
                    <p>Vill du inte acceptera kakor kan din webbläsare ställas in så att du automatiskt nekar till lagring av kakor eller informeras varje gång en webbplats begär att få lagra en kaka. Genom webbläsaren kan också tidigare lagrade kakor raderas. Se webbläsarens hjälpsidor för mer information.</p>
                    <p>Väljer du att inte acceptera kakor så kan du inte identifiera dig med e-legitimation i denna e-tjänst.</p>
                    <p>Mer information om kakor kan du finna på <span dynamiclink key="wc-lank-007"></span></p>
                    <div class="col-xs-6 no-left-padding">
                        <button class="btn btn-default btn-primary" data-dismiss="modal" data-ng-click="onCookieConsentClick()">Jag godkänner</button>
                    </div>
                    <div class="col-xs-6 text-right no-right-padding">
                        <button class="btn btn-default btn-cancel" data-dismiss="modal" data-ng-click="cancel()">Avbryt</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>