stat-cookie-banner {
  display: block;
}

.stat-cookie-banner {
  border: 0;
  margin: 10px 10px 0;

  .alert {
    margin-bottom: 0;
    max-width: inherit;
  }

  .container-fluid {
    padding: 0;
  }
}
