stat-cookie-banner {
  display: block;
}

.stat-cookie-banner {
  border: 0;
  background-color: $st-color-36;
  color: $st-color-34;
  padding: 20px;

  a {
    color: $st-color-38;
  }

  .container-fluid {
    padding: 0;
  }
}
