<div data-ng-class="{'inline-block': !showLabel}">
    <label data-ng-if="showLabel" class="dropdown-label" for="select-diagnoses{{$id}}">{{textData.titleText}}</label><br data-ng-if="showLabel"/>
    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#diagnosisModal{{$id}}" id="select-diagnoses{{$id}}" ng-click="openDialogClicked()">
        <i data-ng-if="buttonIcon" class="fa {{buttonIcon}}"></i>
        {{textData.buttonLabelText}}
    </button>
    <div class="modal" id="diagnosisModal{{$id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span id="myModalLabel">{{textData.titleText}}</span>
                </div>

                <div class="modal-body" spinner label="{{spinnerText}}" show-spinner="!doneLoading && transitionsSupported" show-content="!doneLoading" data-ng-show="!doneLoading && transitionsSupported">
                </div>

                <div class="modal-body" data-ng-show="!doneLoading && !transitionsSupported">
                    <h2><b><span message key="info.multiselect.loading"></span></b></h2>
                </div>

                <div class="modal-body" ng-if="dialogOpen" >
                    <div id="modal-body-left" ng-class="{'border-right': !sidebarState.collapsed}">
                        <form>
                            <div class="modal-list">
                                <div class="select-all-items">
                                    <label class="pull-left">
                                        <input type="checkbox" ng-checked="menuOptions.allSelected" id="select-all-diagnoses" class="multiMenuSelectAll" ng-click="itemClicked(menuOptions)"></input>
                                        <span>{{selectAllTextKey | messageFilter}}</span>
                                    </label>
                                    <button ng-if="sidebarMenuExpand" class="btn btn-link btn-link-minimal toggle-sidebar-link" ng-click="sidebarState.collapsed = !sidebarState.collapsed" ng-switch="sidebarState.collapsed">
                                          <span ng-switch-when="true">
                                              <span message key="{{sidebarMenuExpand}}"></span><i class="fa fa-chevron-right"></i>
                                          </span>
                                        <span ng-switch-when="false">
                                            <span message key="{{sidebarMenuCollapse}}"></span><i class="fa fa-chevron-left"></i>
                                          </span>
                                    </button>

                                </div>
                                <div class="search-all-items input-group" style="clear:left">
                                    <span class="input-group-addon glyphicon glyphicon-search"></span>
                                    <input type="search" ng-model="value.multiMenuFilter" class="multiMenuFilterSearch form-control" placeholder="{{searchHintTextKey | messageFilter}}"/>
                                </div>
                            </div>
                            <div class="modal-list item-body">
                                <div data-ng-repeat="item in menuOptions.subs" class="multiMenuSelectKapitel" ng-init="itemRoot=menuOptions; depth=0" on-finish-render="doneRenderingDialog()">
                                    <submenu item="item" itemroot="itemRoot" depth="depth" recursionhelper="recursionhelper" ng-hide="item.hide" class="depth0" ng-class="{leaf: !(item.subs && item.subs.length >0)}"/>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div id="modal-body-right">
                        <ng-transclude></ng-transclude>
                    </div>
                </div>


                <div class="modal-footer">
                    <label class="pull-left"><div>{{textData.firstLevelLabelText}}{{selectedTertiaryCount}}<br>{{textData.secondLevelLabelText}}{{selectedSecondaryCount}}<br>{{textData.thirdLevelLabelText}}{{selectedLeavesCountAll}}</div></label>
                    <button class="btn btn-success" type="button" data-dismiss="modal" aria-hidden="true" data-ng-click="clickedDone()" style="margin-top:10px"><span message key="lbl.filter.modal.spara-stang"></span></button>
                </div>

            </div>
        </div>
    </div>
</div>
