.tree-multi-selector {
  .modal-dialog {
    margin: 30px auto;
    max-height: 1024px;
    max-width: 1024px;
    width: calc(100% - 100px);
  }

  .modal-header {
    font-weight: bold;
  }

  .modal-body {
    padding: 0 20px;

    ul {
      list-style-type: none;
    }

    .modal-body-left {
      padding: 10px;
    }

    .modal-body-right {
      h2 {
        color: #333;
      }
    }

    .border-right {
      border-right: 1px solid #ddd;
    }

    .modal-list {
      padding: 0;

      input[type='checkbox'] {
        cursor: pointer;
      }

      .select-all-items {
        text-align: right;

        label {
          cursor: pointer;
          font-weight: bold;
        }

        span {
          display: inline-block;
          font-size: 14px;
          padding-right: 4px;
        }

        input[type='checkbox'] {
          margin-left: 0;
          margin-right: 5px;
          margin-top: 0;
        }
      }

      &.item-body {
        @media (min-height: 400px) {
          max-height: 160px;
        }
        @media (min-height: 600px) {
          max-height: 280px;
        }
        @media (min-height: 800px) {
          max-height: 380px;
        }
        @media (min-height: 800px) {
          max-height: 560px;
        }

        border-bottom: 1px solid #eee;
        border-radius: 4px;
        margin-top: 10px;
        overflow-y: auto;

        input[type='checkbox'] {
          margin: 4px 0 0 10px;
        }

        .leaf .glyphicon {
          display: none;
        }

        .node {
          border: 1px solid #eee;
          cursor: pointer;
          padding: 4px 0;

          .indenter {
            display: inline-block;
          }

          &.depth0 {
            background-color: #eee;
            border-top: 1px solid #fff;

            &.indenter {
              width: 0;
            }

            > .ellipsis-text {
              max-width: calc(100% - 60px);
            }

            &.leaf {
              border-top: 1px solid #fff;
            }
          }

          &.depth1 {
            background-color: #fff;
            border-bottom: 0;

            > .indenter {
              width: 30px;
            }

            > .ellipsis-text {
              max-width: calc(100% - 90px);
            }
          }

          &.depth2 {
            background-color: #fff;
            border-bottom: 0;

            > .indenter {
              width: 54px;
            }

            > .ellipsis-text {
              max-width: calc(100% - 130px);
            }
          }

          &.depth3 {
            background-color: #fff;
            border-bottom: 0;

            > .indenter {
              width: 75px;
            }

            > .ellipsis-text {
              max-width: calc(100% - 130px);
            }
          }

          &.leaf {
            border-top: 0;
          }
        }
      }
    }

    input {
      vertical-align: bottom;
    }

    .search-all-items {
      input[type='search'] {
        height: 35px;
        top: 1px;
        width: 100%;
      }
    }
  }

  .modal-footer {
    clear: both;
    margin-top: 0;

    label {
      font-size: 12px;

      > div {
        text-align: left;
      }
    }
  }

  .verksamhets-typer-list {
    overflow-y: auto;
    padding: 0;

    @media (max-height: 400px) {
      max-height: 140px;
    }

    @media (max-height: 600px) {
      max-height: 220px;
    }

    @media (min-height: 600px) {
      max-height: 580px;
    }

    .btn-block {
      cursor: pointer;
      display: inline-block;
      max-width: 300px;
      overflow: hidden;
      padding-left: 10px;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
