<div class="container-fluid login-view">
  <div data-ng-if="loggedInWithoutStatistikuppdrag  || (errorUrlParam == 'medarbetaruppdrag')" class="alert alert-danger">
    <strong message key="login.alert-info.behorighet.title"></strong> <span message key="login.alert-info.behorighet.body"></span>
  </div>
  <div data-ng-if="(loginTimedOut && !loggedInWithoutStatistikuppdrag) || (errorUrlParam == 'timeout')" class="alert alert-info">
    <strong message key="login.alert-inaktivitet.title"></strong> <span message key="login.alert-inaktivitet.body"></span>
  </div>
  <div data-ng-if="(errorUrlParam == 'loginfailed')" class="alert alert-danger">
    <strong message key="login.alert-loginfailed.title"></strong> <span message key="login.alert-loginfailed.body"></span>
  </div>
  <div data-ng-if="(hasActiveStatUrl || errorUrlParam == 'loginRequired')" class="alert alert-danger">
    <strong message key="login.alert-loginrequired.title"></strong> <span message key="login.alert-loginrequired.body"></span>
  </div>
  <div>
  <h1>Välkommen till Intygsstatistik</h1>
  <p class="margin-bottom-20">Intygsstatistik är en tjänst för dig som arbetar inom hälso- och sjukvården. Med Intygsstatistik kan du enkelt se och följa upp mönster för sjukskrivningar. Tyngdpunkten ligger på intyg för sjukpenning, men det går också att se statistik för andra läkarintyg och för kommunikation om ärenden mellan sjukvården och Försäkringskassan.
    Du kan använda intygsstatistik för att se nationell statistik och verksamhetsstatistik på regions- och vårdenhetsnivå.</p>
  <div class="alert alert-info">
    <strong message key="login.alert-info.loginrequired.title"></strong>
    <div>
      <span message key="login.alert-info.loginrequired.body"></span>
      <a href="https://inera.atlassian.net/l/cp/e83xrU1p">Intygstjänsters informationsyta.</a>
    </div>
  </div>
  <h2>Logga in</h2>
  <p>
    <a class="btn st-kn-04" href="{{ defaultUrl }}" message key="login.btn.siths-login"></a>
  </p>
  </div>

</div>