<div class="container-fluid login-view">
  <h1>
    <span message key="login.header"></span> <i class="glyphicon glyphicon-log-in"></i>
  </h1>

  <p data-ng-if="loggedInWithoutStatistikuppdrag" class="alert alert-danger">
    <strong message key="login.alert-danger"></strong> <span message key="login.alert-info.behorighet"></span>
  </p>
  <p data-ng-if="loginTimedOut && !loggedInWithoutStatistikuppdrag" class="alert alert-info">
    <strong message key="login.alert-info"></strong> <span message key="login.alert-inaktivitet"></span>
  </p>
  <p data-ng-if="(errorUrlParam == 'loginfailed')" class="alert alert-info">
    <strong message key="login.alert-info"></strong> <span message key="login.alert-loginfailed"></span>
  </p>
  <p data-ng-if="(hasActiveStatUrl)" class="alert alert-info">
    <strong message key="login.alert-info"></strong> <span message key="login.alert-loginrequired"></span>
  </p>


  <p message key="login.instruktioner-for-login"></p>
  <p>
    <a class="btn btn-success login-button" href="{{ defaultUrl }}" message key="login.btn.siths-login"></a>
  </p>

  <p>
    <span dynamiclink key="st-lank-002"></span>
  </p>

  <p>
    <a class="btn btn-success login-button" href="{{ sambiUrl }}">{{ sambiLabel }}</a>
    <div ng-if="hasStoredLogin"><a href="/saml/login/discovery">Visa fler alternativ </a></div>
    <span dynamiclink key="st-lank-005"></span>
  </p>
</div>
