.login-view {
  display: inline-block;
  h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0;
  }

  h2 {
    font-size:20px;
    font-weight:700;
    margin-bottom:15px;
    margin-top:20px;
  }

  .st-color-29-a {
    font-weight: 700;
    color: $st-color-29;
  }

  .margin-bottom-20 {
    margin-bottom: 20px;
  }

  .st-kn-04 {
    @extend %st-typo-04;
    background:$st-color-15;
    width:200px;
    color:$st-color-17;
    font-weight:700;
    height:50px;
    padding:15px;;
    &:active {
      background-color: $st-color-15;
      color: $st-color-17;
    }
    &:hover {
      background-color: $st-color-29;
      color: $st-color-17;
    }
    &:focus {
      color: $st-color-17;
    }
  }

}