<div class="container-fluid login-view">
  <div data-ng-if="loggedInWithoutStatistikuppdrag" class="alert alert-danger">
    <strong message key="login.alert-info.behorighet.title"></strong> <span message key="login.alert-info.behorighet.body"></span>
  </div>
  <div data-ng-if="loginTimedOut && !loggedInWithoutStatistikuppdrag" class="alert alert-info">
    <strong message key="login.alert-inaktivitet.title"></strong> <span message key="login.alert-inaktivitet.body"></span>
  </div>
  <div data-ng-if="(errorUrlParam == 'loginfailed')" class="alert alert-danger">
    <strong message key="login.alert-loginfailed.title"></strong> <span message key="login.alert-loginfailed.body"></span>
  </div>
  <div data-ng-if="hasActiveStatUrl" class="alert alert-danger">
    <strong message key="login.alert-loginrequired.title"></strong> <span message key="login.alert-loginrequired.body"></span>
  </div>

  <p>
    <a class="btn st-kn-04" href="{{ defaultUrl }}" message key="login.btn.siths-login"></a>
  </p>

  <p>
    <span dynamiclink key="st-lank-002"></span>
  </p>
</div>
