<div
    class="node"
    ng-class="[depthClass, {'leaf': isLeaf}]"
    ng-click="hideClick({node: item, event: $event})">
    <span class="indenter"></span>
    <input type="checkbox" ng-disabled="disableCheckbox(item)" ng-checked="isChecked(item)" intermediate="isIntermediate(item)"
           ng-click="!disableCheckbox(item) ? itemClick({node: item, event: $event}) : hideClick({node: item, event: $event})" />

    <span ng-click="!disableCheckbox(item) ? itemClick({node: item, event: $event}) : hideClick({node: item, event: $event})"
          data-ng-class="{'highlight-words': item.info}"
          uib-tooltip="{{::item.info}}"
          tooltip-enable="{{::!!item.info}}"
          tooltip-placement="auto top"
          tooltip-append-to-body="true"
          class="ellipsis-text"
          ng-bind-html="::item.visibleName"></span>
    <span ng-click="hideClick({node: item, event: $event})" class="submenuicon glyphicon" ng-class="{'glyphicon-chevron-up': item.showChildren, 'glyphicon-chevron-down': !item.showChildren}"></span>

</div>

  <div data-ng-if="!maxDepthReached && item.showChildren && item.visibleSubs && item.visibleSubs.length > 0">
    <submenu
        data-ng-repeat="item in item.visibleSubs track by item.numericalId"
        item="item"
        depth="subDepth"
        max-depth="maxDepth"
        item-click="subItemClick(node, event)"
        hide-click="subHideClick(node, event)"
        ></submenu>
  </div>
