<div class="modal-header">
  <button class="close" data-dismiss="modal" data-ng-click="cancel()">×</button>
  <h4 class="modal-title" message key="intygsskolan.modal.title"></h4>
</div>

<div class="modal-body">

  <div class="row-fluid" id="about-about-page">
    <div id="about-content">
      <section>
        <div class="row">
            <div class="col-xs-12">
            <p class="modal-intygsskolan-link"><i class="fa fa-graduation-cap"></i> <span dynamiclink key="st-lank-001"/></p>
            <p>Intygsstatistik är en tjänst som drivs av Inera AB.</p>
            <p>Nuvarande version är {{::projectVersion}}.</p>
            <p>Intygsstatistik är utvecklat för Internet Explorer 11 och efterföljande versioner. Andra webbläsare kan användas, men då finns det risk att problem uppstår. Tjänsten kräver att JavaScript är aktiverat.</p>
            <p>För att framställa grafer och diagram i Intygsstatistik använder Inera AB Highcharts som tillhandahålls av <span dynamiclink key="st-lank-003"></span>. Inera AB använder Highsofts mjukvaror under en <span dynamiclink key="st-lank-004"></span>.</p>
            <h2>Behandling av personuppgifter</h2>
            <p>Inera behandlar personuppgifter som personuppgiftsansvarig för det egna bolagets verksamhet och i sin roll som personuppgiftsbiträde för regioner och kommuner. Inera värnar om den personliga integriteten och eftersträvar alltid en hög nivå av dataskydd.</p>
            <p>För Intygsstatistik innebär detta att personuppgifter inom hälso- och sjukvården inte får användas för statistiska ändamål, förutom i viss mån för vårdgivarens egen verksamhetsuppföljning. Alla uppgifter i de statistiska rapporterna är därför avidentifierade och informationen behandlas separat för varje vårdgivare.</p>
            <p>Läs mer om hur personuppgifter behandlas på <span dynamiclink key="wc-lank-013"></span>.</p>
            <h2>Användandet av kakor (cookies)</h2>
            <p>Vi använder kakor (cookies) för att den här webbplatsen ska fungera på ett bra sätt för dig. Genom att logga in accepterar du vår användning av kakor.</p>
            <p>Intygsstatistik använder så kallade sessionskakor. De lagras temporärt i din dators minne under tiden du är inne på webbplatsen. Sessionskakor sparar ingen personlig information om dig och de försvinner när du stänger din webbläsare. Sessionskakor säkerställer att du ska kunna navigera i tjänsten utan att behöva logga in på nytt varje gång du går till en ny sida. De används också för att de filterinställningar du gör finns kvar under tiden du är inloggad. För att vara säker på att kakorna inte sparas i din dator efter avslutad session måste du stänga webbläsaren när du har loggat ut.</p>
            <p>Om du inte accepterar användningen av kakor kan du ställa in din webbläsare så att kakor blockeras. Observera att det då inte går att logga in på verksamhetsstatistiken. Du kan då enbart se den nationella statistiken.</p>
            <p>Mer information om kakor finns på <span dynamiclink key="wc-lank-007"></span></p>
            <h2>Kontakt och support</h2>
            <p>Om du har problem med att använda Intygsstatistik eller har frågor och synpunkter på tjänsten, kontakta <span dynamiclink key="wc-lank-005"></span>.</p>
            <p>Inera AB<br/>
            Box 17703<br/>
            118 93 Stockholm
            </p>
            <p>Organisationsnummer: 556559-4230</p>

            <button class="btn btn-default" data-dismiss="modal" data-ng-click="cancel()">Stäng</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
