%st-typo-08 {
  color: $st-color-34;
  font-size: 16px;
  font-weight: bold;
}

%st-typo-09 {
  color: $st-color-34;
  font-size: 16px;
  font-weight: normal;
}

%st-typo-10 {
  color: $st-color-34;
  font-size: 16px;
  font-weight: normal;
}

%st-typo-11 {
  color: $st-color-34;
  font-size: 14px;
}

%st-typo-12 {
  color: $st-color-34;
  font-size: 16px;
  font-weight: bold;
}
