
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-font-smoothing: antialiased;
}

input {
  &[type='checkbox'],
  &[type='radio'] {
    height: 18px;
    width: 18px;
  }
}

.content-wrapper {
  margin: 20px 0 15px;
}

.top-10px-margin {
  margin-top: 10px;
}

.top-20px-margin {
  margin-top: 20px;
}

.filter-link {
  color: $stat-link-color-filter;
}

// Change the way the buttons look in the ui.bootstrap.datepicker
.input-group.datepicker {

  // Adjust the inputbox size and font size for the datepicker
  & > .form-control,
  & > .input-group-addon,
  & > .input-group-btn > .btn {
    font-size: 14px;
    height: 34px;
  }

  .btn-info.active {
    background-color: rgb(153, 153, 158);
    border-color: rgb(153, 153, 158);
  }

  td,
  th {
    .btn-default {
      background-image: none;
      border-color: #fff;
      border-radius: 0;
      box-shadow: none;
    }
  }

  .dropdown-menu {
    margin-top: 8px;

    &::before,
    &::after {
      -webkit-transform: rotate(360deg);
      border-color: transparent;
      border-style: solid;
      content: '';
      display: inline-block;
      height: 0;
      position: absolute;
      width: 0;
    }

    &::before {
      border-bottom-color: #ccc;
      border-width: 0 7px 7px;
      left: 9px;
      top: -7px;
    }

    &::after {
      border-bottom-color: #fff;
      border-width: 0 6px 6px;
      left: 10px;
      top: -6px;
    }
  }

  &:focus,
  .uib-datepicker:focus,
  .uib-monthpicker:focus {
    outline: 0;
  }
}

.collapsible-panel-header {
  margin-top: 15px;
  display: block;

  .glyphicon {
    color: #fff;
    font-size: 12px;
    float: left;
    margin: -16px;
    padding: 16px;

    &.collapsible-panel-min-icon {
      @extend .glyphicon-chevron-up;
      font-size: 1.1em;
    }

    &.collapsible-panel-expand-icon {
      @extend .glyphicon-chevron-down;
      font-size: 1.1em;
    }
  }

  .panel-heading {
    @extend %chartContainerHeading;

    padding: 12px;
    font-size: 14px;
    line-height: 20px;
  }

  .panel-title {
    font-weight: bold;
    font-size: 14px;
  }

  .accordion-toggle {
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;

    &:focus {
      outline: 0;
    }
  }

  .btn-default {
    padding: 1px;
    margin-top: -2px;
  }
}

.chart-table {
  .panel-body {
    padding: 0;
  }

  table {
    margin: 0;
  }

  .panel {
    border: 0;
  }
}

.right-2px-padding {
  padding-right: 2px;
}

.left-2px-padding {
  padding-left: 2px;
}

.spinner-overview .stat-spinner .spinner,
.modal-dialog .stat-spinner .spinner,
.spinner-detail .stat-spinner .spinner {
  margin: 0;
  position: static;
}

.outdated-browser {
  h1 {
    margin-top: 30px;
  }
}
