$left-container-width: 240px;

html,
body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  min-height: 100vh;
}

.header-container {
  flex: 0 0 auto;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}

.left-container {
  flex: 0 0 auto;
  width: $left-container-width;
  background: $st-color-19;
  box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.35);
}

.right-container {
  flex: 1 1 auto;
  max-width: calc(100% - #{$left-container-width});
  overflow: hidden;
  padding-right: 10px;
}

@media (max-width: $screen-xs-max) {
  .main-container {
    flex-direction: column;
  }

  .right-container {
    max-width: 100%;
  }

  .left-container {
    width: 100%;
  }
}

.overview-widget-link:hover {
  text-decoration: none;
}

.truncate-when-needed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-content {
  background-clip: border-box;
  border: none;
}
