<div class="row-fluid" id="about-about-page">
	<div id="about-content">
		<section>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<h1><span message key="about.service"></span></h1>
					<p>Intygsstatistik är en webbtjänst som visar samlad statistik för alla läkarintyg och läkarutlåtanden som skickas elektroniskt från hälso- och sjukvårdens journalsystem. Tjänsten visar dessutom statistik över den tillhörande ärendekommunikationen som sker emellan intyg-/utlåtandeutfärdare och Försäkringskassan.</p>
					<p>Nuvarande version är {{::projectVersion}}</p>
					<p>Intygsstatistik består av två delar:</p>
					<ul>
					 	<li>nationell statistik - är tillgänglig för alla.</li>
					 	<li>inloggad statistik för vårdenhet, vårdgivare och landsting - går endast att se med särskild behörighet inom hälso- och sjukvården.</li>
					</ul>

					<h2>Statistikrapporter</h2>
					<p>I Intygsstatistik visas ett antal fasta rapporter som går att skriva ut, spara som bild eller exportera till kalkylprogrammet Excel.</p>

					<h2>Behörighet</h2>
					<p>
						Om du har ansvar för verksamhetsuppföljning inom hälso- och sjukvården kan du ta del av statistik som är särskilt riktad till ditt uppföljningsområde.
						Uppföljningsområde kan vara en eller flera vårdenheter, eller hela vårdgivaren om du har ett övergripande uppföljningsansvar.
						Det krävs att du har ett medarbetaruppdrag för statistik som delas ut av din verksamhetschef och sätts av din HSA-administratör.
						<span dynamiclink key="sarskildBehorighetStatistik"></span></p>

					<h2>Användarmanualer</h2>
					<p>
						Mer information om Intygsstatistik går att få genom att läsa tjänstens <span dynamiclink key="statistikAnvandarmanual"></span>.
						De innehåller bland annat mer information om Intygsstatistiks olika funktioner och beskrivningar över hur statistikrapporterna beräknas.
					</p>

					<h2>Ansvarig för Intygsstatistik</h2>
					<p>
						<span dynamiclink key="ineraStartsida"></span></br>
						Postadress: Box 17703</br>
						118 93 Stockholm</br>
						Organisationsnummer: 556559-4230
					</p>

					<h2>Hantering av personuppgifter</h2>
					<p>
						Personuppgifter inom hälso- och sjukvården omfattas av sekretess. De får inte användas för statistiska ändamål förutom i viss mån för vårdgivarens egen verksamhetsuppföljning.
						Alla uppgifter som finns i allmänna statistiska rapporter måste vara helt avidentifierade för att få visas.
						Informationen i Intygsstatistik behandlas separat för varje vårdgivare. Uppgifterna avidentifieras och slås samman innan de publiceras.
						För att förhindra att informationen ska kunna kopplas till enskilda personer visas inte uppgifter där urvalet är för begränsat.
						När det gäller verksamhetsstatistik som går att nå via inloggning ska verksamhetschefen säkerställa att endast behöriga personer får ta del av den.
						Medarbetaruppdraget för statistik ska delas ut med eftertanke.
						<span dynamiclink key="personuppgiftslagen"></span> och <span dynamiclink key="patientdatalagen"></span> är lagar som reglerar behandling av personuppgifter.
					</p>
		
					
					<h2>Programvaror som används i Intygsstatistik</h2>
					<p>
						För att framställa grafer och diagram i Intygsstatistik använder Inera AB Highcharts som tillhandahålls av <span dynamiclink key="highcharts"></span>.
						Inera AB använder Highsofts mjukvaror under en <span dynamiclink key="creativeCommons"></span>.
					</p>

					<h2>Kakor (Cookies)</h2>
		 			<p>
						Så kallade kakor (cookies) används för att underlätta för besökaren på webbplatsen.
						En kaka är en textfil som lagras på din dator och som innehåller information. Denna webbplats använder så kallade sessionskakor.
						Sessionskakor lagras temporärt i din dators minne under tiden du är inne på en webbplats. Sessionskakor försvinner när du stänger din webbläsare.
						Ingen personlig information om dig sparas vid användning av sessionskakor. För att kunna logga in i Intygsstatistik måste du godkänna den användning av kakor som sker där.
						Om du inte godkänner användning av kakor du kan endast använda den nationella delen av Intygsstatistik.
						Allmän information om kakor (cookies) och lagen om elektronisk kommunikation finns på <span dynamiclink key="ptsCookies"></span>
					</p>
					
					<h2>Webbläsare som stöds av Intygsstatistik</h2>
					<p>
						Funktionerna i Intygsstatistik är anpassade för webbläsaren Internet Explorer, version 11 eller senare.
						Du måste även ha JavaScript aktiverat i din webbläsare för att kunna använda Intygsstatistik.
					</p>
				</div>
			</div>
		</section>
	</div>
</div>
