<div class="row-fluid">
	<div id="about-content">
		<section id="contact">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <H1>Kontakt till support</H1>
					<p>Vänd dig till Nationell kundservice på Inera om du har problem med att använda Statistiktjänsten.</p>
					<p>Du kan också kontakta kundservice om du har frågor eller synpunkter på tjänsten.</p>
                    <p><a href="http://www.inera.se/felanmalan" target="_blank">Kontaktinformation till Nationell kundservice (extern länk)</a></p>
				</div>
			</div>
		</section>
	</div>
</div>
