<div class="row-fluid" id="about-contact-page">
	<div id="about-content">
		<section>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<h1>Kontakt till support</h1>
					<p>Vänd dig till Ineras kundservice om du har problem med att använda Statistiktjänsten.</p>
					<p>Du kan också kontakta kundservice om du har frågor eller synpunkter på tjänsten.</p>
					<p><a href="http://www.inera.se/felanmalan" target="_blank">Kontaktinformation till kundservice (extern länk)</a></p>
				</div>
			</div>
		</section>
	</div>
</div>
