#about-faq-page {

  .toggle {
    display: inline-block;
    margin-left: 20px;
    color: #333;
    font-size: 14px;
  }


  h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .panel {
    margin-bottom: 10px;

    .panel-title {
      cursor: pointer;
    }

    .panel-heading {
      border-bottom: 0;
    }

    .panel-body {
      padding: 0;
    }

    .panel-content {
      padding: 5px 15px 15px;
    }
  }

}
