<div class="container-fluid" style="margin-top: 20px;">
  <form name='f' method='POST' action='fake'>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <legend>Logga in för verksamhetsstatistik - demo</legend>
        <select id="jsonSelect" name="jsonSelect" ng-model="selectedPerson"  size="18" style="width: 100%;max-width:100%" class="form-control" ng-change="selectPerson()">
          <option ng-repeat="person in identities" value="{{ $index }}">{{ person.fornamn + ' ' + person.efternamn + ' - ' + person.description}}</option>
        </select>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <legend>Användarkontext</legend>
        <textarea name='userJsonDisplay' id='userJsonDisplay' placeholder="Ange JSON struktur" style="height: 240px;" class="col-xs-12 col-sm-12 col-md-12 col-lg-9">{{ fakeUserContext }}</textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <br/>
        <button class="btn btn-success" name="Login" id="login_btn" type="submit">Logga in</button>
        <button class="btn" name="Återställ" ng-click="reset();" type="reset">Återställ</button>
      </div>
    </div>
  </form>
  <br/>
  <a href="/showcase/index.html" target="_blank">Komponentbibliotek</a><br/>
</div>
