<div class="container-fluid login-view">
  <h1>
    <span message key="login.header"></span> <i class="glyphicon glyphicon-log-in"></i>
  </h1>

  <p message key="login.instruktioner-for-login"></p>

  <p data-ng-if="loggedInWithoutStatistikuppdrag" class="alert alert-danger">
    <strong message key="login.alert-danger"></strong> <span message key="login.alert-info.behorighet"></span>
  </p>
  <p data-ng-if="loginTimedOut && !loggedInWithoutStatistikuppdrag" class="alert alert-info">
    <strong message key="login.alert-info"></strong> <span message key="login.alert-inaktivitet"></span>
  </p>

  <p>
    <a class="btn btn-success login-button" href="saml/login" message key="login.btn.siths-login"></a>
  </p>

  <p>
    <span message key="login.siths.problem"></span><br>
    <a href class="login-link" data-ng-click="open()"><span message key="login.siths.problem-link"></span></a>
  </p>
</div>
