<div id="chart-content">
	<div class="row-fluid">
		<div class="span4">
			<h1 tabindex="-1" class="national-statistic-h1">Nationell statistik</h1>
		</div>
		<div class="span5 offset3" id="overview-print-button">
			<button class="btn statistic-btn"  onclick="window.print();">Skriv ut..</button>
			<button class="btn statistic-btn" ng-click="exportTableData()">Spara som...</button>
		</div>
	</div>
	<!-- Start ingress -->
	<div class="row-fluid">
		<span class="span12 graph-ingress">Antal sjukfall per månad {{startDate | lowercase}} - {{endDate | lowercase}}</span>
	</div>
</div>
<!-- Start graph -->
<div class="row-fluid">
	<div id="container"	style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>

<!-- Starting data-table -->
<div id="chart-data-table">
	<div class="accordion" id="accordion2">
		<div class="accordion-group">
		  <div class="accordion-heading">
		    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" id="toggleDataTableVisibility" ng-click="toggleTableVisibility($event)">
		      {{showHideDataTable}}
		    </a>
		  </div>
		  <div id="collapseOne" class="accordion-body in collapse">
		    <div class="accordion-inner">
			    <table id="datatable" class="table table-striped">
					<thead>
						<tr>
							<td></td>
							<td ng-repeat="header in headers">{{header}}</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in rows">
							<td>{{row.name}}</td>
							<td ng-repeat="fieldData in row.data">{{fieldData}}</td>
						</tr>
					</tbody>
			 	</table>
		    </div>
		  </div>
		</div>
	</div>
</div>
