<div id="chart-content">
	<div class="row-fluid dontprint">
		<div class="span6 pull-left" style="width: auto !important; float: left;">
			<h1 class="national-statistic-h1" ng-bind="viewHeader"></h1>
		</div>
		<div class="span6 pull-right"  style="margin-top: 10px; width: auto;">
			<!-- PRINT BUTTON GROUP -->
			<div class="btn-group statistics-btn-group">
			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			    Skriv ut
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu right">
			    <li><a onclick="window.print();"><img src="/img/dropdown-icons/print-colour.png"/> Färg</a></li>
			    <li><a class="disabled"><img src="/img/dropdown-icons/print-bw-inactive.png"/> Svart-vitt</a></li>
			  </ul>
			</div>
			<!-- SAVE AS BUTTON GROUP -->
			<div class="btn-group statistics-btn-group">
			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			    Spara som
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu left">
			    <li><a tabindex="-1" ng-click="exportTableData()"><img src="/img/dropdown-icons/excel.png"/> Excel</a></li>
			    <li><a class="disabled"><img src="/img/dropdown-icons/pdf-inactive.png"/>PDF</a></li>
			    <li><a class="disabled"><img src="/img/dropdown-icons/png-inactive.png"/>PNG</a></li>
			  </ul>
			</div>
		</div>
    </div>
    <div class="row-fluid">
    	<div class="span12 pull-left" ng-show="verksamhetName">
			<h2 style="line-height: 10px;">{{ verksamhetName }}</h2> 
		</div>
    </div>
	<div class="row-fluid">
		<span class="span12 graph-ingress">
			{{subTitle}}
			<a id="pageHelpToolTip" popover-title="{{popoverTextTitle}}" popover="{{popoverText}}" popover-trigger="mouseenter" popover-placement="right" ng-show="popoverText"><img src="/img/questionmark2.png" alt=""></a>
		</span>
	</div>

	<!-- Start detailsOptions if any -->
    <div class="row-fluid" id="detailsOptionsDropdown" ng-show="showDetailsOptions">
       	<div class="span12">
       		<label for="selectDiagnosticChapter">Välj annat diagnoskapitel:</label>
       		<div class="btn-group margin-bottom">
           		<a class="btn dropdown-toggle" id="selectDiagnosticChapter" data-toggle="dropdown" href="#" style="width: 317px; overflow: hidden; text-overflow: ellipsis;"><span class="caret pull-right"></span><span>{{selectedDetailsOption.id}} {{selectedDetailsOption.name}}</span></a>
	        	<ul class="dropdown-menu left overflow-menu-options">
	               <li ng-repeat="detailsOption in detailsOptions"><a href="{{detailsOption.url}}">{{detailsOption.id}} {{detailsOption.name}}</a></li>
	        	</ul>
         	</div>
       	</div>
    </div>
	
	<!-- Start ingress -->
    <div ng-include="errorPageUrl"></div>
    <div dataerrorview show-error="dataLoadingError">
        <div spinner label="{{spinnerText}}" show-spinner="!doneLoading" show-content="doneLoading">
        	 <div class="">
        	 	<div class="row-fluid" id="print-logo-display">
        	 		<div class="span12">
        	 			<img src="/img/statistic_logo_printversion.png">
        	 		</div>
        	 	</div>
                <!-- Start graph -->
	            <div class="row-fluid">
	                <div class="span12">
	                    <div class="chart-page-chart" ng-class="{span12: chartContainers.length == 1, span6: chartContainers.length == 2}" ng-repeat="chartContainer in chartContainers" id="{{chartContainer}}" style="height: 400px; margin: 0 auto"></div>
	                </div>
	            </div>
	            <!-- Start chart footnote -->
	            <div class="row-fluid" ng-repeat="chartFootnote in chartFootnotes">
	            	<div class="span12 alert alert-info">
	            			{{chartFootnote}}
	            	</div>
	            </div>
	            
	            <div class="row-fluid">
	                <div class="span12">
	                    <label ng-repeat="seriesData in series" class="span6" style="margin-left: 0px; margin-right: 5px;">
	                        <input type="checkbox" checked="" ng-click="toggleSeriesVisibility($index)" />
	                        <span style="display: inline-block; height: 10px; width: 10px; background-color: {{seriesData.color}};"></span>
	                        {{seriesData.name}}
	                    </label>
	                </div>
	            </div>
			</div>
			
			<!-- Page break for print -->
            <div class="print-pagebreak-after"></div>
            
            <!-- Starting data-table -->
            <div class="rotate-print browserTable" ng-class="{printTable: !useSpecialPrintTable}">
	            <div class="row-fluid">
					<span class="span12 graph-ingress" id="data-table-print-header">
						{{subTitle}}
					</span>
				</div>
	            <div id="chart-data-table">
	                <div class="accordion" id="accordion2">
	                    <div class="accordion-group">
	                      <div class="accordion-heading">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" id="toggleDataTableVisibility" ng-click="toggleTableVisibility($event)">
	                          <i class="chart-table-expand-icon"></i>
	                          {{showHideDataTable}}
	                        </a>
	                      </div>
	                      <div id="collapseOne" class="accordion-body in collapse chart-table-body">
	                        <div class="accordion-inner datatablescrollable">
	                            <table id="datatable" class="table table-striped">
	                                <thead>
	                                    <tr ng-repeat="headerrow in headerrows">
	                                        <td class="datatablescrollable details-table-data ellipsis details-th" ng-class="{headcol: $first}" colspan="{{header.colspan}}" ng-repeat="header in headerrow" title="{{header.text}}">{{header.text}}</td>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                    <tr ng-repeat="row in rows">
	                                        <td class="datatablescrollable headcol">{{row.name}}</td>
	                                        <td class="datatablescrollable" ng-repeat="fieldData in row.data" >{{fieldData | thousandseparated}}</td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                        </div>
	                      </div>
	                    </div>
	                </div>
	            </div>
            </div>
            
            <div ng-class="{printTable: useSpecialPrintTable}" style="display:none;">
                <div class="row-fluid">
                    <span class="span12 graph-ingress" id="data-table-print-header">
                        {{subTitle}}
                    </span>
                </div>
                <table id="datatable" class="table table-striped" ng-repeat="printTable in printDataTables">
                    <thead>
                        <tr ng-repeat="headerrow in printTable.headers">
                            <td colspan="{{header.colspan}}" ng-repeat="header in headerrow" title="{{header.text}}">{{header.text}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in printTable.rows">
                            <td>{{row.name}}</td>
                            <td ng-repeat="fieldData in row.data" >{{fieldData | thousandseparated}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>
