<div id="chart-content">
	<div class="row-fluid" id="print-logo-display">
 		<div class="span12">
 			<img src="img/statistiktjansten-logotype-print.png">
 			<h2 class="business-name-header print-only-no-display"><span class="dontprint">- </span>{{ verksamhetName }}</h2> 
 		</div>
 	</div>
	<div class="row-fluid">
		<div class="span6 pull-left dontprint" style="width: auto !important; float: left;">
			<h1 class="national-statistic-h1" data-ng-bind="viewHeader" style="line-height: 17px; margin-bottom: 0px;"></h1>
		</div>
    	<div class="span6 pull-left dontprint" id="business-name-header-container" data-ng-show="verksamhetIdParam" style="width: auto !important; float: left; margin-left: 0px;">
			<h2 class="business-name-header" style="line-height: 20px;"><span class="dontprint">- </span>{{ verksamhetName }}</h2> 
		</div>
    </div>
	<div class="row-fluid">
		<span class="span12 graph-ingress pull-left" style="min-height: 5px;">
			{{subTitle}}
			<a class="dontprint" id="pageHelpToolTip" tooltip-html-unsafe="<div class=popover-content>{{popoverText}}</div>" tooltip-trigger="mouseenter" tooltip-placement="right" data-ng-show="popoverText" style="position: relative; top: -2px;"><img src="img/questionmark2.png"></a>
			<a class="dontprint" id="chart-footnote-trigger" data-toggle="collapse" data-target="#chart-footnote-text" data-ng-show="chartFootnotes" text="Information om diagrammet" style="position: relative; top: -2px;"><img src="img/information.png"></a>
		</span>
		<div class="row-fluid" data-ng-show="chartFootnotes">
			<div class="collapse" id="chart-footnote-text">
       			<div class="alert alert-info" style="margin-top: 3px;">
       				<div data-ng-repeat="chartFootnote in chartFootnotes">
       					<p>{{chartFootnote}}</p>
       				</div>
       			</div>
       		</div>
        </div>
	</div>

	<!-- Start detailsOptions if any -->
    <div class="row-fluid dontprint" style="width: auto !important; margin-top: 10px;">
    	<div class="span12">
    		<div class="span6 pull-left" data-ng-show="showDetailsOptions" style="width: auto; float: left;">
	       		<label class="dropdown-label" for="selectDiagnosticChapter">Välj annat diagnoskapitel:</label>
	       		<div class="btn-group margin-bottom"  id="detailsOptionsDropdown">
	           		<a class="btn dropdown-toggle" id="selectDiagnosticChapter" data-toggle="dropdown" href="#" style="width: 280px; overflow: hidden; text-overflow: ellipsis;"><span class="caret pull-right"></span><span>{{selectedDetailsOption.id}} {{selectedDetailsOption.name}}</span></a>
		        	<ul class="dropdown-menu left overflow-menu-options">
		               <li data-ng-repeat="detailsOption in detailsOptions"><a href="{{detailsOption.url}}">{{detailsOption.id}} {{detailsOption.name}}</a></li>
		        	</ul>
	         	</div>
	       	</div>
	       	<div class="span6 pull-right" data-ng-class="{margin_top_button_group: showDetailsOptions}" style="width: auto; margin-bottom: 10px;">
				<!-- PRINT BUTTON GROUP -->
				<div class="btn-group statistics-btn-group">
				  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				    Skriv ut
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu right">
				    <li><a data-ng-click="print(false)"><img src="img/dropdown-icons/print-colour.png"/> Färg</a></li>
				    <li><a data-ng-click="print(true)"><img src="img/dropdown-icons/print-bw.png"/> Svart-vitt</a></li>
				    <!-- li><a class="disabled"><img src="img/dropdown-icons/pdf-inactive.png"/> PDF-fil</a></li -->
				  </ul>
				</div>
			</div>
    	</div>
    </div>
	
	<!-- Start ingress -->
    <div data-ng-include="errorPageUrl"></div>
    <div dataerrorview show-error="dataLoadingError">
        <div spinner label="{{spinnerText}}" show-spinner="!doneLoading" show-content="doneLoading">
        	 <div class="">
                <!-- Start graph -->
                <div class="row-fluid dontprint">
                    <div ng-show="chartContainers.length > 1">
		                <div class="btn-group statistics-btn-group">
		                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		                    Spara diagram som bild
		                    <span class="caret"></span>
		                  </a>
		                  <ul class="dropdown-menu right" style="min-width: 180px; padding: 5px 0; margin: 2px 20px 0;">
		                    <li data-ng-repeat="chartContainer in chartContainers"><a data-ng-click="exportChart(chartContainer.id)"><img src="img/dropdown-icons/png.png"/> {{chartContainer.name}}</a></li>
		                  </ul>
		                </div>
                    </div>
                    <div ng-show="chartContainers.length == 1" >
                        <button class="btn pull-right" data-ng-repeat="chartContainer in chartContainers" data-ng-click="exportChart(chartContainer.id)" style="cursor: pointer;" id="pageHelpToolTip">
                            Spara diagram som bild
                        </button>
                    </div>
                </div>
	            <div class="row-fluid">
	                <div data-ng-repeat="chartContainer in chartContainers"  data-ng-class="{span12: chartContainers.length == 1, span6: chartContainers.length == 2}">
	                    <div class="chart-page-chart" id="{{chartContainer.id}}" style="height: 400px; margin: 0 auto"></div>
	                </div>
	            </div>
	            <div class="row-fluid dontprint">
                    <label data-ng-repeat="seriesData in series" class="span3" id="legend-label" style="margin-left: 0px; margin-right: 5px;" legend-height>
                        <input type="checkbox" checked="" data-ng-click="toggleSeriesVisibility($index)" class="detail-checkbox"/>
                        <div class="legend-color-square" ng-style="{backgroundColor: seriesData.color}"></div>
                        {{seriesData.name}}
                    </label>
	            </div>
	            <div class="row-fluid" style="margin-top: 15px;">
					<div class="span12 pull-right" data-ng-class="{margin_top_button_group: showDetailsOptions}" style="width: auto; margin-bottom: 10px;">
						<!-- PRINT BUTTON GROUP -->
						<div class="btn-group statistics-btn-group dontprint">
						  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						    Spara tabell som
						    <span class="caret"></span>
						  </a>
						  <ul class="dropdown-menu pull-right">
						    <li><a data-ng-href="{{exportTableUrl}}" target="_self"><img src="img/dropdown-icons/excel.png"/> Excel</a></li>
						  </ul>
						</div>
					</div>
	            </div>
			</div>
			
			<!-- Page break for print -->
            <div class="print-pagebreak-after"></div>
            
            <!-- Starting data-table -->
            <div class="rotate-print browserTable" data-ng-class="{printTable: !useSpecialPrintTable, dontprint: useSpecialPrintTable}">
	            <div class="row-fluid">
					<span class="span12 graph-ingress" id="data-table-print-header">
						{{subTitle}}
					</span>
				</div>
	            <div id="chart-data-table">
	                <div class="accordion" id="accordion2">
	                    <div class="accordion-group">
	                      <div class="accordion-heading dontprint">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" id="toggleDataTableVisibility" data-ng-click="toggleTableVisibility($event)">
	                          <i class="chart-table-expand-icon"></i>
	                          {{showHideDataTable}}
	                        </a>
	                      </div>
	                      <div id="collapseOne" class="accordion-body in collapse chart-table-body">
	                        <div class="accordion-inner datatablescrollable">
	                            <table id="datatable" class="table table-striped table-bordered">
	                                <thead>
	                                    <tr data-ng-repeat="headerrow in headerrows">
	                                        <td class="datatablescrollable details-table-data ellipsis details-th" data-ng-class="{headcol: $first}" colspan="{{header.colspan}}" data-ng-repeat="header in headerrow" title="{{header.text}}">{{header.text}}</td>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                    <tr data-ng-repeat="row in rows">
	                                        <td class="datatablescrollable headcol">{{row.name}}</td>
	                                        <td class="datatablescrollable" data-ng-repeat="fieldData in row.data" >{{fieldData | thousandseparated}}</td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                        </div>
	                      </div>
	                    </div>
	                </div>
	            </div>
            </div>
            
            <div data-ng-class="{printTable: useSpecialPrintTable, dontprint: !useSpecialPrintTable}" style="display:none;">
                <div class="row-fluid">
                    <span class="span12 graph-ingress" id="data-table-print-header">
                        {{subTitle}}
                    </span>
                </div>
                <table id="datatable" class="table table-striped print-pagebreak-after" data-ng-repeat="printTable in printDataTables">
                    <thead>
                        <tr class="table-print-header" data-ng-repeat="headerrow in printTable.headers">
                            <td colspan="{{header.colspan}}" data-ng-repeat="header in headerrow" title="{{header.text}}">{{header.text}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="row in printTable.rows">
                            <td>{{row.name}}</td>
                            <td data-ng-repeat="fieldData in row.data" >{{fieldData | thousandseparated}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Page break for print -->
        		<div class="print-pagebreak-after"></div>
            </div>
        </div>
    </div>
</div>
