<div class="container">
    <div class="row-fluid center">
        <div class="span9">
        	<h1>Logga in för verksamhetsstatistik</h1>
        	
        	<p>För att fortsätta till dom inloggade sidorna för verksamhetsstatistik måste du logga in med ditt SITHS-kort.</p>
        	
        	<h2>Gör följande:</h2>
        	<p>Sätt <span style="text-decoration: underline;">SITHS-kortet i din kortläsare</span> och klicka sedan på knappen "SITHS login"</p>
			<p style="margin-top: 20px;">
				<a class="btn btn-success" href="/saml/login">SITHS login</a>
			</p>
        </div>
    </div>
</div>
