    <div>
		<div class="row-fluid">
			<div id="overview-content"> <!-- Start: Overview content -->
				<div class="row-fluid">
					<div class="span4">
						<h1 tabindex="-1" id="nationalOverviewHeading">Nationell statistik</h1>
					</div>
					<div class="span5 offset3" id="overview-print-button">
						<button class="btn" onclick="window.print();">Skriv ut...</button>
					</div>
				</div>
				<div class="row-fluid">
					<span class="span12 overview-ingress">Utvecklingen i landet de senaste 3 månaderna</span>
				</div>
				<div class="row-fluid">
					<div class="span3">
						<div class="overview-box-header-container">
							<ul class="overview-box-header">
								<li class="overview-box-header-listItem">
									<a ng-href="#/sjukfallPerManad">
										<h2>Könsfördelning
											<i class="icon-chevron-right icon-white"></i>
										</h2>
									</a>
								</li>
							</ul>
						</div>
						<div id="overview-distribution-per-sex-container">
							<div class="overview-sex-distribution-responsive">
							 	<div>
							 		<div>
							 			<div>
							 				<div>
							 					<div class="row-fluid sex-distribution-row">
										         	<div class="span4 offset2" id="overview-distribution-female-lbl">{{casesPerMonthFemaleProportion}}%</div>
										         	<div class="span4" id="overview-distribution-male-lbl">{{casesPerMonthMaleProportion}}%</div>
										        </div>
							 				</div>
							 			</div>
							 		</div>
							 	</div>
							 </div>
						</div>
						<div class="overview-box-information-container">
						</div>
					</div>
					<div class="span3">
						<div class="overview-box-header-container">
							<ul class="overview-box-header">
								<li class="overview-box-header-listItem">
									<a ng-href="#/sjukfallPerManad">
										<h2>Förändring
											<i class="icon-chevron-right icon-white"></i>
										</h2>
									</a>
								</li>
							</ul>
						</div>
						<div id="overview-change-container">	
							 <div class="overview-change-responsive-circle">
							 	<div>
							 		<div>
							 			<div>
							 				<div id="casesPerMonthAlterationLabel">{{casesPerMonthAlteration}}%</div>
							 			</div>
							 		</div>
							 	</div>
							 </div>
						</div>
						<div class="overview-box-information-container">
							<span class="overview-small-box-information">Förändring av antalet sjukfall jämfört med föregående tre månader.</span>
						</div>
					</div>
					<div class="span6">
						<div class="overview-box-header-container">
							<ul class="overview-box-header">
								<li class="overview-box-header-listItem">
									<a ng-href="#">
										<h2>Fördelning diagnosgrupper
											<i class="icon-chevron-right icon-white"></i>
										</h2>
									</a>
								</li>
							</ul>
						</div>
						<div id="overview-distribution-diagnostic-groups-container">
							<div class="row-fluid">
								<div class="span4 chart-container" id="diagnosisChart"></div>
								<div class="span8">
									<table id="datatable" class="table table-bordered table-striped table-condensed overview-graph-table">
										<thead>
											<tr>
												<td>Grupp</td>
												<td>Antal</td>
												<td>Förändring</td>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="group in diagnosisGroups">
												<td><span style="height:10px; width:10px; background-color: {{group.color}};"></span>{{group.name}}</td>
												<td>{{group.quantity}}</td>
												<td>{{group.alternation}}%</td>
											</tr>
										</tbody>
								 	</table>
								</div>
							</div>
						</div>
						<div class="overview-box-information-container">
							<span class="overview-standard-box-information">
								Förändring av antalet sjukfall jämfört med föregående tre månader.
							</span>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6">
						<div class="overview-box-container">
							<ul class="overview-box-header">
								<li class="overview-box-header-listItem">
									<a ng-href="#">
										<h2>Fördelning åldersgrupper
											<i class="icon-chevron-right icon-white"></i>
										</h2>
									</a>
								</li>
							</ul>
							<div id="overview-distribution-of-age-groups-container">
								<div class="row-fluid">
									<div class="span4 chart-container" id="ageChart"></div>
									<div class="span8">
										<table id="datatable" class="table table-bordered table-striped table-condensed overview-graph-table">
											<thead>
												<tr>
													<td>Grupp</td>
													<td>Antal</td>
													<td>Förändring</td>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="group in ageGroups">
													<td><span style="height:10px; width:10px; background-color: {{group.color}};"></span>{{group.name}}</td>
													<td>{{group.quantity}}</td>
													<td>{{group.alternation}}%</td>
												</tr>
											</tbody>
									 	</table>
									</div>
								</div>
							</div>
							<div class="overview-box-information-container">
								<span class="overview-standard-box-information">Förändring av antalet sjukfall jämfört med föregående tre månader.</span>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="overview-box-container">
							<div class="overview-box-header-container">
								<ul class="overview-box-header">
									<li class="overview-box-header-listItem">
										<a ng-href="#">
											<h2>Fördelning sjukskrivningsgrad
												<i class="icon-chevron-right icon-white"></i>
											</h2>
										</a>
									</li>
								</ul>
							</div>
							<div id="overview-distribution-of-sick-degree-container">
								<div class="row-fluid">
									<div class="span4 chart-container" id="degreeOfSickLeaveChart"></div>
									<div class="span8">
										<table id="datatable" class="table table-bordered table-striped table-condensed overview-graph-table">
											<thead>
												<tr>
													<td>Grad</td>
													<td>Antal</td>
													<td>Förändring</td>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="group in degreeOfSickLeaveGroups">
													<td><span style="height:10px; width:10px; background-color: {{group.color}};"></span>{{group.name}}</td>
													<td>{{group.quantity}}</td>
													<td>{{group.alternation}}%</td>
												</tr>
											</tbody>
									 	</table>
									</div>
								</div>
							</div>
							<div class="overview-box-information-container">
								<span class="overview-standard-box-information">Förändring av antalet sjukfall jämfört med föregående tre månader.</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6">
						<div class="overview-box-container">
							<div class="overview-box-header-container">
								<ul class="overview-box-header">
									<li class="overview-box-header-listItem">
										<a ng-href="#">
											<h2>Fördelning sjukskrivningslängd
												<i class="icon-chevron-right icon-white"></i>
											</h2>
										</a>
									</li>
								</ul>
							</div>
							<div id="overview-distribution-sick-length-container">
								<div class="row-fluid">
									<div class="span8 chart-container" id="sickLeaveLengthChart"></div>
									<div class="span4">
										{{longSickLeavesTotal}}<br/>Antalet sjukfall som övergår 90 dagar
										<br/>
										{{longSickLeavesAlteration}}%<br/>Förändring av antalet sjukfall som övergår 90 dagar jämfört med föregående kvartal
									</div>
								</div>
							</div>
							<div class="overview-box-information-container">
								<span class="overview-standard-box-information">Förändring av antalet sjukfall jämfört med föregående tre månader.</span>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="overview-box-container">
							<div class="overview-box-header-container">
								<ul class="overview-box-header">
									<li class="overview-box-header-listItem">
										<a ng-href="#">
											<h2>Fördelning per län
												<i class="icon-chevron-right icon-white"></i>
											</h2>
										</a>
									</li>
								</ul>
							</div>
							<div id="overview-distribution-by-county-container">
								<div class="row-fluid">
									<div class="span4 chart-container" id="sickLeavePerCountyChart"></div>
									<div class="span8">
										<table id="datatable" class="table table-bordered table-striped table-condensed overview-graph-table">
											<thead>
												<tr>
													<td>Län</td>
													<td>Antal</td>
													<td>Förändring</td>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="group in sickLeavePerCountyGroups">
													<td><span style="height:10px; width:10px; background-color: {{group.color}};"></span>{{group.name}}</td>
													<td>{{group.quantity}}</td>
													<td>{{group.alternation}}%</td>
												</tr>
											</tbody>
									 	</table>
									</div>
								</div>
							</div>
							<div class="overview-box-information-container">
								<span class="overview-standard-box-information">Förändring av antalet sjukfall jämfört med föregående tre månader.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End: Overview content -->
		</div>
    </div> <!-- /container -->
    
    
    
