    <div class="container">
		<div class="row-fluid">
			<div id="content-body">
				<div class="span3 bs-docs-sidebar"> <!-- Start: Overview navigation menu -->
					<ul class="nav nav-tabs nav-stacked">
						<li class="active"><a href="#">Nationell statistik</a></li>
						<li><a ng-href="#/sjukfallPerManad">Sjukfall, totalt</a></li>
					</ul>
					<div class="row-fluid">
						<div class="span12 bs-docs-sidebar">
							<label class="login-button-label" for="login-button">Verksamhetsstatistik</label>
							<button class="btn login-button" id="login-button">Logga in</button>
						</div>
					</div>
				</div>
				
				<!-- End: Overview navigation menu -->
				
				<div class="span9" id="overview-content"> <!-- Start: Overview content -->
					<div class="row-fluid">
						<div class="span4">
							<h1 tabindex="-1">Nationell statistik</h1>
						</div>
						<div class="span4 offset2" id="overview-print-button">
							<button class="btn">Skriv ut...</button>
						</div>
					</div>
					<div class="row-fluid">
						<span class="span12 overview-ingress" ng-bind-html-unsafe="resultValue" message="" key="overview.description" class="ng-binding">Utvecklingen i landet de senaste 3 månaderna</span>
					</div>
					<div class="row-fluid">
						<div class="span3">
							<div class="overview-box-header-container">
								<div class="row-fluid">
									<a href="#">	
										<span class="overview-box-header-icon"><i class="icon-chevron-right icon-white"></i></span>
										<h2>Könsfördelning</h2>
									</a>
								</div>
							</div>
							<div id="overview-distribution-per-sex-container">
								<figure>
									<label class="span6" id="overview-distribution-female-lbl">{{casesPerMonthFemaleProportion}}%</label>
									<label class="span6" id="overview-distribution-male-lbl">{{casesPerMonthMaleProportion}}%</label>
									<img src="../img/distribution_per_sex_stat_bg.png" />
								</figure>
								<!--div id="distribution-per-sex-lbl-container">
									<label class="span6" id="overview-distribution-female-lbl">50%</label>
									<label class="span6" id="overview-distribution-male-lbl">50%</label>
								</div-->
							</div>
							<div class="overview-box-information-container">
								<!-- span class="overview-small-box-information">Förändring av antalet sjukfall jämfört med föregående tre månader.</span -->
							</div>
						</div>
						<div class="span3">
							<div class="overview-box-header-container">
								<div class="row-fluid">
									<a href="#">	
										<span class="overview-box-header-icon"><i class="icon-chevron-right icon-white"></i></span>
										<h2>Förändring</h2>
									</a>
								</div>
							</div>
							<div id="overview-change-container">
								<canvas id="myCanvas" width="198" height="100"></canvas>
							</div>
							<div class="overview-box-information-container">
								{{casesPerMonthAlteration}}%
								<span class="overview-small-box-information">Förändring av antalet sjukfall jämfört med föregående tre månader.</span>
							</div>
						</div>
						<div class="span6">
							<div class="overview-box-header-container">
								<div class="row-fluid">
									<a href="#">	
										<span class="overview-box-header-icon"><i class="icon-chevron-right icon-white"></i></span>
										<h2>Fördelning diagnosgrupper</h2>
									</a>
								</div>
							</div>
							<div id="overview-distribution-diagnostic-groups-container"></div>
							<div class="overview-box-information-container">
								<span class="overview-standard-box-information">Förändring av antalet sjukfall jämfört med föregående tre månader.</span>
							</div>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span6">
							<div class="overview-box-container">
								<div class="overview-box-header-container">
									<div class="row-fluid">
										<a href="#">	
											<span class="overview-box-header-icon"><i class="icon-chevron-right icon-white"></i></span>
											<h2>Fördelning åldersgrupper</h2>
										</a>
									</div>
								</div>
								<div id="overview-distribution-of-age-groups-container"></div>
								<div class="overview-box-information-container">
									<span class="overview-standard-box-information">Förändring av antalet sjukfall jämfört med föregående tre månader.</span>
								</div>
							</div>
						</div>
						<div class="span6">
							<div class="overview-box-container">
								<div class="overview-box-header-container">
									<div class="row-fluid">
										<a href="#">	
											<span class="overview-box-header-icon"><i class="icon-chevron-right icon-white"></i></span>
											<h2>Fördelning sjukskrivningsgrad</h2>
										</a>
									</div>
								</div>
								<div id="overview-distribution-of-sick-degree-container"></div>
								<div class="overview-box-information-container">
									<span class="overview-standard-box-information">Förändring av antalet sjukfall jämfört med föregående tre månader.</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span6">
							<div class="overview-box-container">
								<div class="overview-box-header-container">
									<div class="row-fluid">
										<a href="#">	
											<span class="overview-box-header-icon"><i class="icon-chevron-right icon-white"></i></span>
											<h2>Fördelning sjukskrivningslängd</h2>
										</a>
									</div>
								</div>
								<div id="overview-distribution-sick-length-container"></div>
								<div class="overview-box-information-container">
									<span class="overview-standard-box-information">Förändring av antalet sjukfall jämfört med föregående tre månader.</span>
								</div>
							</div>
						</div>
						<div class="span6">
							<div class="overview-box-container">
								<div class="overview-box-header-container">
									<div class="row-fluid">
										<a href="#">	
											<span class="overview-box-header-icon"><i class="icon-chevron-right icon-white"></i></span>
											<h2>Fördelning per län</h2>
										</a>
									</div>
								</div>
								<div id="overview-distribution-by-county-container"></div>
								<div class="overview-box-information-container">
									<span class="overview-standard-box-information">Förändring av antalet sjukfall jämfört med föregående tre månader.</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End: Overview content -->
			</div>
		</div>
    </div> <!-- /container -->