<div class="header-logo">
  <img alt="Till startsidan" class="hidden-xs" src="/assets/images/logo_statistik_inv@2x.png"/>
  <img alt="Till startsidan" class="visible-xs" src="/assets/images/logo_vit_intygsstatistik.png"/>
</div>

<div data-ng-if="UserModel.get().enableVerksamhetMenu" class="header-user">
  <i class="fa fa-user"></i>
  <div class="truncate-when-needed">{{UserModel.get().userNameWithAccess}}</div>
</div>

<div data-ng-if="UserModel.get().enableVerksamhetMenu" class="header-unit">

  <i class="fa fa-building-o"></i>

  <div class="header-two-row">

    <div class="hidden-xs" data-ng-if="UserModel.get().enableVerksamhetMenu && UserModel.get().vgs.length > 1">&nbsp;</div>

    <div class="single-text-row-container">
      <div id="verksamhetsNameLabel" class="verksamhets-name-label truncate-when-needed">{{pageHeaderVerksamhetName}}</div>

      <show-businesses
          data-ng-if="showBusinessesDetails"
          businesses="UserModel.get().businesses"
          vg-name="vgName"></show-businesses>
    </div>

    <select-vardgivare-modal
        data-ng-if="UserModel.get().enableVerksamhetMenu && UserModel.get().vgs.length > 1"
        vardgivare="UserModel.get().vgs"
        select-vardgivare="changeVardgivare(vgId)"></select-vardgivare-modal>
  </div>
</div>

<div data-ng-if="UserModel.get().enableVerksamhetMenu" class="header-links">
  <a id="logoutLink" href="saml/logout"><span message key="lbl.log-out"></span></a>
</div>

<div data-ng-if="!UserModel.get().enableVerksamhetMenu" class="header-links">
  <span class="business-login-span"><span message key="lbl.for-verksamhetsstatistik"></span></span>
  <button class="btn btn-info" data-ng-click="loginClicked()"
          type="button" id="business-login-btn">
    <span message key="lbl.log-in"></span>
  </button>
</div>
