<h1>Navigation</h1>

<div class="showcase-directive-group">
	<h2>Header (inloggad) </h2>

	<stats-header
			is-logged-in="true"
			page-header-verksamhet-name="'Verksamhetsnamn'"
			show-businesses-details="true"
			vg-name="'vgName'"
			login-clicked=""
	></stats-header>
</div>

<div class="showcase-directive-group">
	<h2>statCookieBanner</h2>
	<a ng-click="doShowCookieBanner()">Klicka här för att toggla fram
		cookiebannern</a>
	<div ng-if="showCookieBanner" class="index-page">
		<stat-cookie-banner></stat-cookie-banner>
	</div>
</div>

<div class="showcase-directive-group">
	<h2>navigationMenu</h2>
	<navigation-menu login-visible="AppModel.get().loginVisible"
		query-string="queryString" navigationaware></navigation-menu>
</div>








