<h1>Övriga komponenter</h1>

<div class="showcase-directive-group">
	<h2>selectVardgivare</h2>
	<select-vardgivare-modal data-ng-if="'true'"
		vardgivare="UserModel.get().vgs"
		select-vardgivare="changeVardgivare(vgId)"></select-vardgivare-modal>

<show-businesses data-ng-if="'true'" businesses="businesses"
	vg-name="vgName"></show-businesses>
</div>
    
    
    
    
<div class="showcase-directive-group">    
<h2>filterList</h2>
<a
	id="chart-sjukskrivningslangdsfilterinfo-trigger"
	data-toggle="collapse"
	data-target="#chart-sjukskrivningslangdsfilterinfo-text"
	data-ng-show="activeSjukskrivningslangdsFilters"
	text="Sjukskrivningslangdsfilter"
	style="position: relative; color: #0b0b0b; font-weight: normal; margin-left: 5px;">Sjukskrivningslängdsfilter&nbsp;&#x25BE</a>

<div class="pull-left filter-list"
	data-ng-show="activeSjukskrivningslangdsFilters">
	<filter-list collapse-id="chart-sjukskrivningslangdsfilterinfo-text"
		filters="activeSjukskrivningslangdsFilters"></filter-list>
</div>
</div>


<div class="showcase-directive-group" id="chart-content">
	<h2>overviewWidget</h2>
	<overview-widget
		title-key="national.widget.header.fordelning-diagnosgrupper"
		tooltip-content="popoverTextDiagnosisGroups" chart-id="diagnosisChart"
		groups="diagnosisGroups"
		column-title1="overview.widget.table.column.diagnosgrupp"
		column-title2="overview.widget.table.column.antal"
		column-title3="overview.widget.table.column.forandring">
	</overview-widget>
</div>


<div class="showcase-directive-group" id="chart-data-table">
<h2>statScrollTable</h2>
<uib-accordion id="accordion2">
	<uib-accordion-group is-open="status.isTableOpen">
		<uib-accordion-heading>
			<span data-ng-if="status.isTableOpen"><i class="glyphicon chart-table-min-icon"></i> <span message key="lbl.dolj-tabell"></span></span>
			<span data-ng-if="!status.isTableOpen"><i class="glyphicon chart-table-expand-icon"></i> <span message key="lbl.visa-tabell"></span></span>
		</uib-accordion-heading>
		<stat-scroll-table header-rows="headerRows" rows="rows"></stat-scroll-table>
	</uib-accordion-group>
</uib-accordion>
</div>


<div class="showcase-directive-group">
	<h2>statSpinner</h2>
	<div style="overflow-y: hidden;" spinner label="Laddar..."
		show-spinner="'true'"></div>
</div>
