<div>
	<div class="container-fluid">
	    <div class="row">
	    	<div id="overview-content">
	        	<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
	        		<p>Landstingsstatistik är tillfälligt stängd på grund av att kompletterande arbete pågår. Vi
						jobbar för att funktionen ska vara tillgänglig igen så snart som möjligt. Läs mer på
						<a href="https://www.inera.se/tjanster/intygstjanster/intygsstatistik/">inera.se</a>.
                    </p>
	        	</div>
	    	</div>
	    </div>
	</div>
</div>
