<div>
	<div class="container-fluid">
	    <div class="row">
	    	<div id="overview-content">
	        	<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
				<img style="width: 700px;" src="/assets/images/404.png"/>
					<div class="alert alert-danger">
						<h1>Sidan går inte att hitta</h1>
						<p>Försök med något av följande:
							<ul>
								<li>Kontrollera att webbadressen är rättstavad</li>
								<li>Gå till <a ng-href="#/">startsidan</a></li>
								<li>Kontakta <a ng-href="#/om/kontakt">support</a></li>
							</ul>
						</p>
					</div>
	        	</div>
	    	</div>
	    </div>
	</div>
</div>
