<div>
  <div class="container-fluid">
    <div class="row">
      <div class="overview-content">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
          <h1>För tillfället är den nationella statistiken inte tillgänglig</h1>
          <p></p>
          <p>
            Det beror på att rapporterna håller på att återskapas efter en omstart.
            Försök igen om några minuter.
          </p>
          <p>
            Om problemet kvarstår efter trettio minuter, kontakta Ineras kundservice.<br>
            <span dynamiclink key="ineraKundserviceFelanmalan"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
