<span class="select-vardgivare">
  <p message key="login.instruktioner-for-valj-vg"></p>

  <ul>
    <li data-ng-repeat="vgInfo in vardgivare | orderBy:'name'">
      <a href data-ng-if="currentVgid != vgInfo.id" data-ng-click="setSelectedVardgivare(vgInfo.id)" title="Klicka för att välja denna vårdgivare">{{::vgInfo.name}}</a>
      <span data-ng-if="currentVgid == vgInfo.id" title="Vald vårdgivare"><strong>{{::vgInfo.name}}</strong> (vald vårdgivare)</span>
    </li>
  </ul>

  <p data-ng-if="isLogin" message key="login.valj-vg.change-after-login"></p>

  <p>
    <button class="btn btn-link btn-link-minimal valj-vg-help" ng-click="isCollapsed = !isCollapsed" ng-switch="isCollapsed">
      <span message key="login.valj-vg.help.link"></span>
      <span ng-switch-when="false" class="glyphicon glyphicon-chevron-up"></span>
      <span ng-switch-when="true" class="glyphicon glyphicon-chevron-down"></span>
    </button>
  </p>

  <div uib-collapse="isCollapsed">
    <p message key="login.valj-vg.help.text"></p>
  </div>
</span>
