filter-selection-list {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;

  ul {
    display: inline-block;
    width: 280px;
    padding: 0;
    vertical-align: top;

    li {
      list-style-type: none;
    }
  }

  .filter-heading {
    @extend %st-typo-03;
  }

  .filter-hover {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    width: 15px;
  }

  .default-text {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
  }

  .inactive {
    color: $st-color-21;
  }
}
