<div>
	<div class="container-fluid">
		<div class="row">
			<div class="overview-content">
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 alert alert-info">
					<div ng-controller="taskCoordinatorCtrl">
						<h1 style="display: inline-block;">Du kan bara hämta <p ng-bind="simultaneousCalls" style="display: inline;"></p> i taget</h1>
						<p>Du har försökt hämta flera rapporter samtidigt eller valt att lägga på ytterligare ett filter innan rapporten hunnit presenteras. Vänta tills rapporten visas innan du försöker öppna en ny rapport. Om problemet kvarstår kan du kontakta <a ng-href="#/om/kontakt">Inera Support</a>.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
