<div>
	<div class="container-fluid">
	    <div class="row">
	    	<div class="overview-content">
	    		<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
		        	<h1>Data för rapporten går inte att visa</h1>
                <p>Försök med något av följande:
                <ul>
                    <li>Kontrollera att webbadressen är rättstavad</li>
                    <li>Gå till <a ng-href="#/">startsidan</a></li>
                    <li>Kontakta <a ng-href="#/om/kontakt">support</a></li>
                </ul>
                </p>
		        </div>
	    	</div>
	    </div>
	</div>
</div>
